<!-- <div class="row">
    <label>Tải lên danh sách Khách hàng</label>
    <input type="file" (change)="onFileChange($event)" multiple="false" value="">
</div>
<div class="row">
    <label>Tải lên danh sách Đơn hàng</label>
    <input type="file" (change)="onFileOrderChange($event)" multiple="false">
</div>
<div class="row">
    <label>Tải lên danh sách Sản phẩm</label>
    <input type="file" (change)="onFileProductChange($event)" multiple="false">
    <input type="number" [(ngModel)]="category" name="category" placeholder="Ma danh muc...">
</div>
<div class="row">
    <label>Tải Xuống danh sách Hoa</label>
    <input type="button" (click)="exportProducts()">
</div>
<div class="row">
    <label>Cập nhật tag cho SP</label>
    <input type="file" (change)="importTags($event)" multiple="false">
</div> 

<div class="row">
    <label>Cập nhật trạng thái đơn</label>
    <input type="button" (click)="updateOrderStatus()">
</div>
-->
