<div class="page-content" id="order">
    <div class="container order-add">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <a href="javascript:void(0);" (click)="addOrder()" class="btn main-btn">Thêm đơn</a>
            </div>
            <div class="col-2 order-noti text-right">
                <a routerLink="/staff/add-purchse"><img src="../../../assets/images/money.svg" alt=""
                        class="main-filter">
                    <!--<span class="noti-count">20</span>--></a>
            </div>
        </div>
    </div>
    <div class="container order-list">
        <div class="row order-list-top">
            <div class="col-2 order-filter text-left" (click)="filterByState()">
                <a class="main-bg"><img src="../../../assets/images/filter.svg" alt="" class="main-filter"></a>
            </div>
            <div class="col-8 order-search">
                <mobile-search-box (searchTextInvoke)="searchOrder($event)" [delayTimeSpan]="1000"
                    placeholder="Tên hoặc số điện thoại KH...">
                </mobile-search-box>
            </div>
            <div class="col-2 order-check text-right">
                <a class="main-bg" routerLink="/staff/sort-order-changing"><img src="../../../assets/images/check.svg"
                        alt="" class="main-filter"></a>
            </div>
        </div>
        <ul class="paging">
            <li class="paging-arrow paging-prev main-bg" (click)="goToPage(currentPage -1)"><i
                    class="fa fa-angle-left"></i></li>
            <li class="paging-arrow paging-next main-bg" (click)="goToPage(currentPage +1)"><i
                    class="fa fa-angle-right"></i></li>
        </ul>
        <div class="row order-list-bot">
            <ul class="col-12 order-content accordion  cusScroll" id="accordionOrder">
                <li *ngFor="let order of orders; let orderIndex = index" class="order-content-item"
                    [id]="'order' + orderIndex">
                    <div class="item-top" [id]="'heading' + orderIndex">
                        <span class="item-code" (click)="viewPurchase(order.OrderId)">{{order.OrderId}}</span>
                        <div class="item-info" (click)="selectOrder(order)">
                            <h4 class="item-name">{{order.CustomerInfo.Name}}</h4>
                            <h4 class="item-name" style="
                            font-size: 12px;
                            margin-top: 1px;">tel: {{order.CustomerInfo.PhoneNumber}}</h4>
                            <span class="item-price">{{order.TotalAmount| myCurrPipe}}
                            </span>
                            <span class="item-date">{{order.DoneTime | myDatePipe}}</span>
                        </div>
                        <button data-toggle="collapse" [attr.data-target]="'#collapse' + orderIndex"
                            aria-expanded="false" [attr.aria-controls]="'collapse' + orderIndex"
                            class="collapsed">mở</button>
                    </div>
                    <div class="item-bot collapse" [id]="'collapse' + orderIndex"
                        [attr.aria-labelledby]="'heading' + orderIndex" [attr.data-parent]="'#order' + orderIndex">
                        <ul class="order-product-list cusScroll">
                            <li *ngFor="let orderDetail of order.OrderDetails" class="order-product-item">
                                <app-status-point [state]="orderDetail.State" [id]="orderDetail.OrderDetailId"
                                    [index]="orderDetail.Index +1" (onClicked)="openDetailInfo($event)">

                                </app-status-point>
                                <div class="item-detail" (click)="updateOrderDetailState(orderDetail.OrderDetailId)">
                                    <img src="{{orderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}" alt=""
                                        class="item-detail-thumb">
                                    <div class="item-detail-info">
                                        <h5 class="item-code">{{orderDetail.ProductName}}</h5>
                                        <span class="prodPrice">{{orderDetail.ModifiedPrice| myCurrPipe}}</span>
                                        <span class="item-quantity">Số lượng:
                                            {{orderDetail.Quantity}}</span>
                                        <span
                                            class="item-time">{{orderDetail.DeliveryInfo.DateTime | myTimePipe}}</span>
                                        <span
                                            class="item-date">{{orderDetail.DeliveryInfo.DateTime  | myDatePipe}}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a *ngIf="!order.IsFinished" href="javascript:void(0);" (click)="editOrder(order.OrderId)" class="order-edit"><i
                                class="fa fa-pencil"></i> Chỉnh sửa</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<div id="makingTimeRequest" class="popup-content">
    <label>Thời gian giao: </label> <span style="
    font-weight: bold;
    font-size: 15px;
    margin-left:3px;
   ">{{selectDeliveryTime}}</span>
    <div class="form-group">
        <label class="custom-label">Thời gian hoàn thành: </label>
        <input [owlDateTime]="dt1" id="selectMakingRequestTime" [owlDateTimeTrigger]="dt1"
            [(ngModel)]="selectMakingRequestTime" name="selectMakingRequestTime" class="mainForm">
        <owl-date-time [stepMinute]="5" #dt1></owl-date-time>
    </div>
    <div class="form-group">
        <label class="custom-label">Ghi chú: </label>
        <textarea id="makingNote" style="width:100%;height:130px" [(ngModel)]="makingNote" name="makingNote"
            class="mainForm"></textarea>
    </div>
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <button type="button" id="choose-florist-btn" class="btn main-btn w-100 mt-3">Chỉ định Florist</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <button type="button" id="submit-btn" class="btn main-btn w-100 mt-3">Lưu</button>
        </div>
        <div class="col-6 mx-auto text-center">
            <button type="button" id="cancel-btn" class="btn grey-btn w-100 mt-3">Hủy</button>
        </div>
    </div>
</div>

<div id="shippingRequest" class="popup-content">
    <label>Thời nhận dự kiến: </label> <span style="
    font-weight: bold;
    font-size: 15px;
    margin-left:3px;
   ">{{selectDeliveryTime}}</span>
    <div class="form-group">
        <label class="custom-label">Thời gian nhận: </label>
        <input [owlDateTime]="dt2" id="selectReceiveRequestTime" [owlDateTimeTrigger]="dt2"
            [(ngModel)]="selectReceiveRequestTime" name="selectReceiveRequestTime" class="mainForm">
        <owl-date-time [stepMinute]="5" #dt2></owl-date-time>
    </div>
    <div class="form-group">
        <label class="custom-label">Ghi chú giao hàng: </label>
        <textarea id="shippingNote" style="width:100%;height:130px" [(ngModel)]="shippingNote" name="shippingNote"
            class="mainForm"></textarea>
    </div>
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <button type="button" id="choose-florist-btn" class="btn main-btn w-100 mt-3">Chỉ định Shipper</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <button type="button" id="submit-btn" class="btn main-btn w-100 mt-3">Lưu</button>
        </div>
        <div class="col-6 mx-auto text-center">
            <button type="button" id="cancel-btn" class="btn grey-btn w-100 mt-3">Hủy</button>
        </div>
    </div>
</div>

<div id="colorBoard" class="popup-content">
    <ul class="colorList">

        <li class="colorInfo colorItem">
            <app-status-point [state]="selectedDetail.State">

            </app-status-point>
            <label>{{selectedDetail.StateDisplay}}</label>
        </li>
        <li class="colorInfo">
            <label>Thợ cắm hoa: </label><span
                *ngFor="let florist of selectedDetail.Florists">{{florist.FullName}}</span>
        </li>
        <li class="colorInfo">
            <label>Người giao hoa: </label><span *ngFor="let shipper of selectedDetail.Shippers"
                style="margin-left: 5px;">{{shipper.FullName}}</span>
        </li>

    </ul>
</div>

<div class="popup-content florist" id="viewed">
    <h3 class="main-bg">Chọn Florist</h3>
    <ul class="viewedList">
        <li class="viewItem" *ngFor="let user of florists" id="{{user.Id}}">
            <img src="{{user.AvtUrl | ImgPipe : 'UserAvt'}}" alt="" class="itemAva">
            <span class="itemName">{{user.FullName}}</span>
        </li>
    </ul>
</div>

<div class="popup-content shipper" id="viewed">
    <h3 class="main-bg">Chọn Shipper</h3>
    <ul class="viewedList">
        <li class="viewItem-three-column" *ngFor="let user of shippers" id="{{user.Id}}">
            <img src="{{user.AvtUrl | ImgPipe : 'UserAvt'}}" alt="" class="itemAva">
            <span class="itemName">{{user.FullName}}</span>
            <span class="itemRole">{{user.IsExternalShipper ?  'Shipper ngoài' : 'Nhân viên'}}</span>
        </li>
    </ul>
</div>

<div class="customer-support">
    <img src="{{CurrentUser.Avt |  ImgPipe : 'UserAvt'}}" alt="" class="customer-avatar">
    <p class="customer-name">{{CurrentUser.FullName}}</p>
    <a class="customer-phone" href="tel:0000">{{CurrentUser.PhoneNumber}}</a>
    <p class="customer-position">{{CurrentUser.Role}}</p>
    <p class="customer-position" id="logoutBtn" (click)="logout()">Đăng xuất</p>
</div>