<div class="listWrap">
    <!-- Top of List Component -->
    <div class="listHeader">
        <div class="row listAddNew">
            <div class="col-xs-12 col-md-2">
                <button class="btn btn-outline-info d-block w-100" (click)="addRequest()" role="button">Thêm
                    Mới</button>
            </div>
        </div>
        <div class="row listOptions">
            <div class="col-md-2 col-xs-12  optionDelete">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="" id=""
                        (change)="checkAllChange(!isSelectAll)" value="checkedValue">
                    <button type="button" class="btn btn-outline-danger" (click)="deletePromotions()"><i
                            class="fa fa-remove"></i>
                        Xóa</button>
                </div>
            </div>
            <div class="col-md-5 col-xs-12  optionSearch">
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                        placeholder="Tìm kiếm...">
                    <button type="submit" class="btn btn-info position-absolute "><i class="fa fa-search"></i></button>
                </div>

            </div>
            <div class="col-md-5 col-xs-12  text-right optionPerPage">
                <div class="form-group">
                    <label>Hiển thị </label>
                    <select class="form-control w-25 d-inline" [(ngModel)]="itemPerpage" name="itemPerpage" id="">
                        <option [ngValue]="10"> 10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="60">60</option>
                    </select>
                    <label> dòng / <strong>{{itemTotalCount}} dòng</strong></label>
                </div>
            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 5%">Mã</th>
                    <th scope="col">Tên chương trình</th>
                    <th scope="col">Thông tin khuyến mãi</th>
                    <th scope="col">Thời gian khuyến mãi</th>
                    <th scope="col">Có hiệu lực</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let promotion of Promotions">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id=""
                                    [(ngModel)]="promotion.IsChecked" value="checkedValue">
                                {{promotion.Promotion.Id}}
                            </label>
                        </div>
                    </td>
                    <td>{{promotion.Promotion.Name}}</td>
                    <td>{{getPromotionAmount(promotion.Promotion)}}
                    </td>
                    <td>{{promotion.Promotion.StartTime | myDatePipe}} -
                        {{promotion.Promotion.EndTime | myDatePipe}}</td>
                    <td> <input type="checkbox" style="margin-top:20px;width: 20px;
                        height: 20px;
                        transform: translateY(-50%);" [checked]="promotion.Promotion.IsEnable"></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-info"
                                (click)="editRequest(promotion.Promotion)"><i class="fa fa-pencil"></i> Sửa</button>
                            <button type="button" (click)="deletePromotion(promotion.Promotion)"
                                class="btn btn-outline-danger"><i class="fa fa-remove"></i>
                                Xóa</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Bottom of List Component -->
    <app-page-segment [pageCount]="pageCount" (pageChanged)="pageChanged($event)">

    </app-page-segment>
</div>

<div class="popupContent" id="promotionAddPopup">
    <h4 class="userName">Thêm mới chương trình khuyến mãi</h4>
    <hr class="adminSeperate">
    <form #form="ngForm" (submit)="addPromotion(form)" autocomplete="on">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Tên Hiển Thị</label>
                <input type="text" class="form-control" name="Name" [(ngModel)]="currentPromotion.Name" id="Name"
                    required minlength="3" placeholder="Tên danh mục..." #Name="ngModel">

                <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="alert alert-danger">

                    <div *ngIf="Name.errors.required">
                        Tên là bắt buộc
                    </div>
                    <div *ngIf="Name.errors.minlength">
                        Tên tối thiểu 3 ký tự
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="IsEnable"></label>
                <label class="form-check-label" style="margin-top: 38px;">
                    <input type="checkbox" class="" style="width:15px;height:15px;" name="IsEnable" id="IsEnable"
                        [(ngModel)]="currentPromotion.IsEnable" value="checkedValue">
                    Có hiệu lực
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="PromotionType">Loại khuyến mãi</label>
                <select id="PromotionType" name="PromotionType" required [(ngModel)]="currentPromotion.PromotionType"
                    class="form-control" #PromotionType="ngModel">
                    <option selected>Choose...</option>
                    <option [ngValue]="'Amount'">Số tiền</option>
                    <option [ngValue]="'Percent'">Phần trăm</option>
                </select>
                <div *ngIf="PromotionType.invalid && (PromotionType.dirty || PromotionType.touched)"
                    class="alert alert-danger">
                    <div *ngIf="PromotionType.errors.required">
                        Loại khuyến mãi là bắt buộc
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputDesc">Con số</label>
                <input name="Amount" [(ngModel)]="currentPromotion.Amount" id="Amount" class="form-control"
                    placeholder="" required #Amount="ngModel">
                <div *ngIf="Amount.invalid && (Amount.dirty || Amount.touched)" class="alert alert-danger">
                    <div *ngIf="Amount.errors.required">
                        Con số là bắt buộc
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Ngày bắt đầu: </label>
                <input class="form-control" type="date" [ngModel]="currentPromotion.StartTime | date:'yyyy-MM-dd'"
                    (ngModelChange)="currentPromotion.StartTime = $event" id="StartTime" name="StartTime">
            </div>
            <div class="form-group col-md-6">
                <label>Ngày bắt kết thúc: </label>
                <input class="form-control" type="date" [ngModel]="currentPromotion.EndTime | date:'yyyy-MM-dd'"
                    (ngModelChange)="currentPromotion.EndTime = $event" id="EndTime" name="EndTime">
            </div>
        </div>
        <div class="form-action row">
            <div class="col-md-3">
                <div class="btn-group w-100">
                    <button type="submit" class="btn btn-outline-success w-100" onclick="">Lưu</button>
                    <a href="javascript:void(0)" class="btn btn-outline-secondary" onclick="hideAdd()">Hủy</a>
                </div>
            </div>
        </div>
    </form>
</div>