<div class="listWrap">
    <div class="listHeader">
        <div class="row listOptions">
            <div class="col-md-4 col-xs-12  optionSearch">
                <app-search-box [delayTimeSpan]="1000" placeholder="Mã đơn...">
                </app-search-box>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <input [owlDateTime]="dt1" [selectMode]="'range'" [(ngModel)]="selectedDates"
                        [owlDateTimeTrigger]="dt1" name="currentDate" class="mainForm"
                        style="border-radius:0px;border-bottom: 2px solid #ddd;">
                    <owl-date-time [pickerType]="'calendar'" (afterPickerClosed)="rangeSelected()" #dt1>
                    </owl-date-time>
                </div>
            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 7%">Mã đơn</th>
                    <th scope="col">Ngày tạo đơn</th>
                    <th scope="col" style="width:15%">Tên khách hàng</th>
                    <th scope="col">SDT khách hàng</th>
                    <th scope="col">Ghi Chú</th>
                    <th scope="col">Giá ban đầu</th>
                    <th scope="col">Phụ phí</th>
                    <th scope="col">Giảm giá</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col">Doanh thu</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let saleItem of saleItems">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{saleItem.OrderId}}
                            </label>
                        </div>
                    </td>
                    <td>
                        {{saleItem.CreatedDate | date: 'dd/MM/yyyy'}}
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="tdName">{{saleItem.CustomerName}}</a>
                    </td>
                    <td>{{saleItem.CustomerPhoneNumber}}</td>
                    <td>{{saleItem.IsVATIncluded? 'Có VAT':''}}</td>
                    <td>
                        {{saleItem.PriceTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td>
                        {{saleItem.FeeTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td>
                        {{saleItem.DiscountTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td>
                        {{saleItem.AmountTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td>
                        {{saleItem.FinalTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>

                </tr>
                <tr>
                    <td scope="row">

                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{priceTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{feeTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{discountTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{amountTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{finalTotal| currency:'VND':'symbol-narrow':'':'vi-VN'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>