<div class="listWrap">
    <div class="listHeader">
        <div class="row listOptions">
            <div class="col-md-4 col-xs-12  optionSearch">
                <app-search-box [delayTimeSpan]="1000" placeholder="Mã đơn...">
                </app-search-box>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <input [owlDateTime]="dt1" [selectMode]="'range'" [(ngModel)]="selectedDates"
                        [owlDateTimeTrigger]="dt1" name="selectedDates" class="mainForm"
                        style="border-radius:0px;border-bottom: 2px solid #ddd;">
                    <owl-date-time [pickerType]="'calendar'" (afterPickerClosed)="rangeSelected()" #dt1>
                    </owl-date-time>
                </div>
            </div>
             <div class="col-md-2 col-xs-12  cateFilter">
                <div class="form-group">
                    <select class="form-control d-inline"  [(ngModel)]="purchaseMethod" name="purchaseMethod"
                        id="">
                        <option [ngValue]="'All'">
                            Tất cả
                        </option>
                        <option [ngValue]="'Cash'">
                            Tiền mặt
                        </option>
                        <option [ngValue]="'Banking'">
                            Chuyển khoản
                        </option>
                        <option [ngValue]="'Momo'">
                            Ví MOMO
                        </option>
                        <option [ngValue]="'Refund'">
                            Hoàn tiền
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 7%">Mã đơn</th>
                    <th scope="col">Ngày tạo đơn</th>
                    <th scope="col" style="width:15%">Tên khách hàng</th>
                    <th scope="col">SDT khách hàng</th>
                    <th scope="col">Giá ban đầu</th>
                    <th scope="col">Phụ phí</th>
                    <th scope="col">Thành tiền</th>
                    <th scope="col">Không VAT</th>
                    <th scope="col">Đã thanh toán</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let saleItem of saleItems">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                {{saleItem.OrderId}}
                            </label>
                        </div>
                    </td>
                    <td>
                        {{saleItem.CreatedDate | myDatePipe}}
                    </td>
                    <td>
                        <a href="javascript:void(0)" (click)="viewCusDetail(saleItem.CustomerId)" class="tdName">{{saleItem.CustomerName}}</a>
                    </td>
                    <td>{{saleItem.CustomerPhoneNumber}}</td>
                    <td>
                        {{saleItem.PriceTotal| myCurrPipe}}
                    </td>
                    <td>
                        {{saleItem.FeeTotal| myCurrPipe}}
                    </td>
                    <td>
                        {{saleItem.AmountTotal| myCurrPipe}}
                    </td>
                    <td>
                        {{saleItem.FinalTotal| myCurrPipe}}
                    </td>
                    <td>
                        {{saleItem.TotalPaidAmount| myCurrPipe}}
                    </td>

                </tr>
                <tr>
                    <td scope="row">

                    </td>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{priceTotal| myCurrPipe}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{feeTotal| myCurrPipe}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{amountTotal| myCurrPipe}}
                    </td>
                    <td style="border: 5px solid #1fe8cb;">
                        {{finalTotal| myCurrPipe}}
                    </td>
                       <td style="border: 5px solid #1fe8cb;">
                        {{paidTotal| myCurrPipe}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>