:root
{
    --main-grey: #97999c;
    --main-blue: #1fc9db;
    --main-green: #1fe8cb;
    --main-filter: brightness(1.6);
    --white-filter: brightness(3);
    --nega-filter: invert(.7) brightness(2);
}

body
{
    font-family: 'Montserrat', sans-serif;
    background: #97999c;
    line-height: 1.5;
}
a,
button
{
    text-decoration: unset !important;
    outline: none !important;
}
ul
{
    padding: 0;
    list-style: none;
    margin: 0;
}
img 
{
    max-width: 100%;
}
embed
{
    pointer-events: none;
}
.form-group
{
    position: relative;
}
.form-control::-webkit-input-placeholder { /* Edge */
    color: #fff;
    font-style: italic;
}
  
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #fff;
font-style: italic;
}

.form-control::placeholder {
color: #fff;
font-style: italic;
}
ul.paging {
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}
ul.paging li{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 15px;
    border-radius: 50%;
}
a.viewMore {
    position: absolute;
    width: 40px;
    right: 0;
}
/* màu */
/* xam rgb(153,155,158)
do rgb(219,18,18)
xanh 1fc9db xanh 1fe8cb */
.cusScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: transparent;
}

.cusScroll::-webkit-scrollbar
{
	width: 3px;
	background-color: transparent;
}

.cusScroll::-webkit-scrollbar-thumb
{
	background-color: #ddd;
}
.overlay-dark {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    top: 0;
}
.overlay-dark.layer2
{
    z-index: 10;
}
.btn.main-btn,.btn.grey-btn
{
    background-image: -o-linear-gradient(45deg, var(--main-blue),var(--main-green));
    background-image: linear-gradient(45deg, var(--main-blue),var(--main-green));
    transition: 350ms;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    font-weight: 600;
    height: 40px;
    padding: 0;
    line-height: 40px;
}
.main-bg.btn 
{
    text-transform: uppercase;
    border-radius: 30px;
}
.btn.main-btn:hover {
    color: #999;
    background: #fff;
}
.btn.grey-btn
{
    background: var(--main-grey);
}
.main-bg 
{
    background: #fff;
    transition: 350ms;
    color: #999;
}
.main-bg:hover
{   
    background-image: -o-linear-gradient(45deg,  var(--main-blue),var(--main-green));
    background-image: linear-gradient(45deg,  var(--main-blue),var(--main-green));
    color: #fff;
}
.main-bg.selected
{   
    background-image: -o-linear-gradient(45deg,  var(--main-blue),var(--main-green));
    background-image: linear-gradient(45deg,  var(--main-blue),var(--main-green));
    color: #fff;
}

/* ====================================================================LOGIN PAGE */
div#login {
    height: 100vh;
    width: 100%;
    background: url(../images/login-bg.jpg) center center no-repeat ;
    background-size: cover;
    overflow: hidden;
}
#login h1.logo {
    width: 60%;
    position: absolute;
    margin: 0;
    height: 0;
    padding-bottom: 30%;
    left: 50%;
    top: 80px;
    transform: translateX(-50%);
    font-size: 0;
    background: url(../images/logo.svg) top center no-repeat;
    background-size: cover;
}
form#loginform {
    width: 100%;
    position: absolute;
    bottom: 110px;
    left: 0;
}
#loginform .form-group {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
}
#loginform .form-group .form-control{
    height: 45px;
    background: transparent;
    border-radius: 30px;
    color: #fff;
}
#loginform input.btn {
    display: block;
    padding: 0;
    color: #777;
    text-transform: uppercase;
    border-color: #fff;
    font-weight: 600;
    margin: auto;
    padding: 12px 25px;
    border-radius: 30px;
}
.popup-content,
div.actionMenu {
    position: fixed;
    width: 90vw;
    background: #fff;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
    display: none;
    z-index: 9;
    text-align: center;
    color: #777;
    font-size: 12px;
}
.dialog-popup img {
    width: 60px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.dialog-popup p 
{
    font-size: 18px;
    font-weight: 600;
}
.dialog-popup button {
    width: 100%;
}
/* ============================================================HOME PAGE */
/* div#home
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */
.customer-support {
    position: fixed;
    height: 100vh;
    background: #fff;
    width: 75vw;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 20px -10px;
    transition: 350ms;
    left: -80vw;
    opacity: 0;
    z-index: 9;
    text-align: center;
    color: #999;
}
.accountLogout a {
    display: block;
    width: 170px;
    margin: 20px auto;
}
.breadcrumb {
    background-color: #f5f5f5;
    background-image: -o-linear-gradient(45deg, var(--main-blue),var(--main-green));
    background-image: linear-gradient(45deg, var(--main-blue),var(--main-green));
    position: relative;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 0;
}
.breadcrumb:before 
{
    content: "";
    position: absolute;
    width: 120px;
    height: 100%;
    right: 0;
    bottom: 0;
    background:url("../images/breadcrumb-flower.png") top center no-repeat;
}
a.nav-icon {
    width: 40px;
    height: 30px;
    background: url(../images/nav.png) center center no-repeat;
    background-size: contain;
    border: none;
    font-size: 0;
    outline: none;
}
.customer-support img.customer-avatar {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 65px;
    margin-bottom: 15px;
}
.customer-support p.customer-name {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.customer-support a.customer-phone {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    color: #999;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    line-height: 1;
    margin-bottom: 15px;
}
.customer-support p.customer-position
{
    text-transform: uppercase;
    width: 120px;
    margin: auto;
    font-weight: 600;
}
.page-content {
    width: 100%;
    padding: 0 10px;
}
.logo img {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
nav.main-menu .main-menu-item {
    width: 50%;
    float: left;
}
.main-menu-item a {
    display: block;
    margin-bottom: 4vh;
    text-align: center;
}
.main-menu-item a img,
.main-menu-item a embed {
    width: 50%;
    transition: 350ms;
    filter: grayscale(1) brightness(2);
    display: block;
    margin: auto;
    margin-bottom: 10px;
    
}
.main-menu-item a span {
    color: #fff;
    font-weight: 600;
}
.main-menu-item a:hover img ,
.main-menu-item a:hover embed
{
    filter: none;
}
/* ==========================================================ORDER */

a.prev-icon {
    width: 40px;
    height: 30px;
    background: url(../images/prev.png) center center no-repeat;
    background-size: contain;
    border: none;
    font-size: 0;
    outline: none;
}
.breadcrumb-title {
    display: inline-block;
    width: calc(100% - 80px);
    text-align: center;
}
.breadcrumb-title span{
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
.order-add {
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.order-add a 
{
    display: block;
}
.order-filter
{
    padding-right: 0;
}
.order-check 
{
    padding-left: 0;
}
.order-filter a,
.order-check a,
.filterCate button, 
.filterAdd button,
.order-noti a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    font-size: 0;
    border: none;
    padding: 10px;
}
span.noti-count {
    position: absolute;
    width: 24px;
    height: 24px;
    background: #db1212;
    top: -5px;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    right: 5px;
    line-height: 24px;
    text-align: center;
}
.order-search .form-control,
.filterSearch .form-control{
    height: 40px;
    background: transparent;
    border-radius: 30px;
    color: #fff;
}
img.main-filter
{
    filter: var(--main-filter);
}
img.white-filter 
{
    filter: var(--white-filter);
}
.order-filter button:hover, 
.order-check button:hover 
{
    background-image: -o-linear-gradient(45deg, rgb(31,201,219), rgb(31,232,203));
    background-image: linear-gradient(45deg, rgb(31,201,219), rgb(31,232,203));
}
.order-filter button:hover img, 
.order-check button:hover img,
.filterAdd button:hover img,
.prodAdd a:hover img
{
    filter: brightness(3);
}
.order-list-top {
    margin-bottom: 3vh;
}
ul.order-content {
    /* height: 420px; */
    max-height: 65vh;
    list-style: none;
    margin-bottom: 0;
    overflow-y: scroll;
}
.order-content-item {
    margin-bottom: 10px;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    float: left;
}
.order-content-item .item-top 
{
    width: 100%;
    position: relative;
    float: left;
    height: 50px;
}

.order-content-item .item-top .item-code {
    width: 28%;
    text-align: center;
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #999;
    height: 50px;
    line-height: 50px;
    border-right: 1px solid;
    margin-right: 15px;
}
.order-content-item .item-top .item-info {
    width: 52%;
    float: left;
    height: 36px;
    margin-top: 7px;
}
.order-content-item .item-top .item-info h4.item-name {
    font-size: 14px;
    font-weight: 600;
    color: #999;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 18px;
}

.order-content-item .item-top .item-info span.item-price{
    float: left;
    font-size: 13px;
    color: #db1212;
    font-weight: 600;
}
.order-content-item .item-top .item-info span.item-date
{
    font-size: 13px;
    color: #97999c;
    float: right;
}
.order-content-item .item-top button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 7px;
    border-radius: 50%;
    border: none;
    background: #97999c;
    padding: 0;
    font-size: 0;
    top: 10px;
    transition: 350ms;
}
.order-content-item .item-top button:not(.collapsed)
{
    transform: rotate(90deg);
}
.order-content-item .item-top button:before 
{
    content: "\f105";
    font-family: fontawesome;
    font-size: 18px;
    color: #fff;}
.item-bot {
    width: 100%;
    float: left;
}
.item-bot ul.order-product-list {
    list-style: none;
    padding: 0 10px;
    max-height: 300px;
    overflow-y: scroll;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.item-bot ul.order-product-list li.order-product-item {
    height: 90px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
    float: left;
}
li.order-product-item .item-status {
    width: 40px;
    float: left;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.product-item .item-status {
    position: absolute;
    right: 15px;
    top: 10px;
}
.item-detail  
{
    width: calc(100% - 40px);
    border: 1px solid #999;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 90px;
    padding: 5px;
    float: left;
    position: relative;
}
img.item-detail-thumb {
    width: 30%;
    float: left;
    height: 78px;
    object-fit: cover;
    margin-right: 3%;
    border-radius: 10px;
}
.item-detail-info {
    width: 67%;
    float: left;
}
h5.item-code,
h5.prodCode {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: #999;
}
span.item-quantity,
span.item-address {
    display: block;
    font-size: 14px;
}
span.item-address {
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.item-status span {
    display: block;
    width: 30px;
    height: 30px;
    background: grey;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    text-align: center;
}
.item-status.r span
{
    background:#d81d1d;
}
.item-status.y span
{
    background:#edb914;
}
.item-status.o span
{
    background:#ea5c15;
}
.item-status.b span
{
    background:#1eafd6;
}
.item-status.p span
{
    background:#b615ea;
}
.item-status.g span
{
    background:#1ed622;
}
.item-status.x span
{
    background:#97999c;
}
.item-status.bl span
{
    background:#000000;
}
#colorBoard .item-status span
{
    width: 20px;
    height: 20px;
}
#colorBoard .item-status {
    display: inline-block;
    margin-right: 20px;
}
div#colorBoard
{
    text-align: left;
}
#colorBoard label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 0;
}
#colorBoard .colorInfo label + span {
    display: inline-block;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 600;
}
#colorBoard li.colorInfo {
    margin-bottom: 15px;
}
#colorBoard li.colorInfo.colorItem
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
div.actionMenu {
    text-align: left;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    bottom: 0;
    top: auto;
    transform: translate(-50%,0);
    padding: 30px 0;
    max-height: 50vh;
    overflow-y: scroll;
}
div.actionMenu a ,
.checkMenu .form-check{
    display: block;
    padding: 10px 30px;
    color: #999;
    font-size: 14px;
    transition: 350ms;
}
div.actionMenu a:hover {
    color: #fff;
    background-image: -o-linear-gradient(45deg, rgb(31,201,219), rgb(31,232,203));
    background-image: linear-gradient(45deg, rgb(31,201,219), rgb(31,232,203));
}
.actionMenu.checkMenu {
    padding-left: 30px;
    font-size: 14px;
}
.actionMenu input.form-check-input {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    margin-left: -25px;
    opacity: 0;
}
/* ================================================ADD ORDER */
form.addOrderForm .form-group {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 2vh;
}
.form-group.prodInfo {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.prodInfo .prodImg img 
{
    border-radius: 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.prodInfo h5.prodCode
{
    text-transform: uppercase;
    padding-top: 0;
    margin-bottom: 3px;
}
span.prodPrice
{
    float: none;
    display: block;
    color: #db1212;
    font-size: 14px;
    font-weight: 600;
}
.prodInfo input.prodQuantity {
    width: 50px;
    display: block;
}
.prodInfo .prodBrowser i {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    line-height: 48px;
    color: #777;
}
.prodInfo .prodContent 
{  
    min-width: calc(100% - 140px);
    padding: 0 5px;
}
.addInfo a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: var(--main-grey);
    display: block;
}
.orderInfo input,
.orderDesc textarea {
    height: 60px;
    border: none;
    padding: 0 15px;
    width: 100%;
}
.orderDesc textarea
{
    padding-top: 10px;
    height: 220px;
}
form.addOrderForm {
    margin-top: 5vh;
}
.prodQuantity input::-webkit-inner-spin-button,
.prodQuantity input::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
.prodQuantity {
    border: 1px solid #999;
    display: inline-block;
    border-radius: 10px;
}
.prodQuantity input
{
  -moz-appearance: textfield;
}
.prodQuantity input,.prodQuantity .quantity-button
{
    width: 30px;
    display: inline-block;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    line-height: 30px;
    color: #999;
    font-size: 12px;
}
.prodQuantity .quantity-button.quantity-up {
    border-left: 1px solid #999;
}
.prodQuantity .quantity-button.quantity-down {
    border-right: 1px solid #999;
}


/* ===================================================PRODUCT CATE */
.prodFilter 
{
    margin-top: 2vh;
    margin-bottom: 2vh;
    
    display: -webkit-box;	
    display: -ms-flexbox;	
    display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.filterSearch input{
    width: 40px;
    font-size: 0;
    transition: 350ms;
}
.search .filterSearch input {
    width: 100%;
    font-size: unset;
}
.filterSearch {
    position: relative;
}
.search .filterSearch
{
    width: calc(100% - 160px);
}
.filterSearch:before {
    content: "\f002";
    font-family: fontawesome;
    color: #fff;
    position: absolute;
    left: 9px;
    top: 2px;
    font-size: 22px;
}
.search .filterSearch::before
{
    display: none;
}
.prodDone a 
{
    display: block;
}
.prodItem img {
    width: 100%;
    border-radius: 10px;
    border: 3px solid transparent;
    box-sizing: border-box;
    transition: 350ms;
    height: 90px;
    object-fit: cover;
}
.prodItem:focus img,
.prodItem:hover img
{
    border-color: #1fc9db;
}

.product-item.selected .prodItem img
{
    border-color: #1fc9db;
}

.prodItem 
{
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-bottom: 7px;
}
.prodItem h4 {
    margin-top: 7px;
    margin-bottom: 0;
    font-size: 12px;
}
.prodItem span
{
    display: block;
    font-weight: 600;
}
.prodList {
    overflow-y: scroll;
    height: 64vh;
    margin-bottom: 2vh;
}
.filterCate
{
    position: relative;
    width: calc(100% - 160px);
    transition: 350ms;
}
.search .filterCate 
{
    width: 40px;
}
.filterCate a {
    display: inline-block;
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    font-size: 12px;
    border: none;
    padding: 5px;
    padding-left: 40px;
    transition: 350ms;
}

.search .filterCate a {
    width: 40px;
    padding: 0;
    font-size: 0;
}
.filterCate a img {
    position: absolute;
    left: 5px;
    height: 30px;
    width: 30px;
    top: 5px;
    -webkit-filter: var(--nega-filter);
    filter: var(--nega-filter);
}
.filterCate a:hover img
{
    -webkit-filter: none;
    filter: none;
}
.filterCate a span 
{
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 32px;
}
.filterAdd,
.order-noti
{
    padding-left: 0;
}

div#infoRec
{
    padding: 10px;
    border-radius: 20px;
}
.currentInfo {
    border: 1px solid #999;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-style: italic;
    position: relative;
    border-radius: 10px;
}
.currentInfo span {
    padding-right: 50px;
    font-size: 14px;
}
.currentInfo a.main-bg:not(:hover) {
    background: var(--main-grey);
}
.currentInfo a
{   
    position: absolute;
    width: 44px;
    height: 44px;
    right: 2px;
    top: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
.currentInfo a img {
    display: block;
}
input.mainForm,
select.mainForm {
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-style: italic;
    background: transparent;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.newInfo {
    margin-top: 20px;
}
#recentInfo 
{
    z-index: 99;
}
#recentInfo > ul {
    height: 270px;
    overflow-y: scroll;
}
#recentInfo li {
    text-align: center;
    border-bottom: 1px solid #97999c;
    padding: 10px 15px;
    font-size: 14px;
}
p.recentInfo-name {
    font-weight: 600;
    margin-bottom: 5px;
}
#recentInfo span.recentInfo-phone {
    float: left;
    width: 50%;
    text-align: left;
}
#recentInfo span.recentInfo-date {
    float: right;
    width: 50%;
    text-align: right;
}
span.recentInfo-add {
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

/* =============================================CONFIRM */
.custList a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    border-radius: 15px;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding-left: 50px;
}
.prodAdd a 
{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
}
.custListButton img 
{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 10px;
    top: 10px;
}
ul.orderDetail {
    background: #fff;
    border-radius: 15px;
    /* height: 320px; */
    max-height: 45vh;
    overflow-y: scroll;
    padding: 15px;
    margin-top: 1vh;
}
li.orderDetailItem {
    height: 110px;
    border-bottom: 1px solid var(--main-grey);
    padding-bottom: 5px;
    margin-bottom: 5px;
    width: 100%;
    float: left;
}
li.orderDetailItem:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}
.itemNumb {
    width: 20px;
    float: left;
    vertical-align: middle;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.itemNumb span {
    width: 20px;
    height: 20px;
    text-align: center;
    background: var(--main-grey);
    color: #fff;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
}
.itemDetail {
    width: calc(100% - 60px);
    float: left;
    margin-left: 5px;
}
.itemDetail img.item-detail-thumb {
    width: 35%;
    margin-right: 5%;
    height: 104px;
}
.itemDetail .item-detail-info {
    width: 60%;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.itemAction {
    width: 35px;
    float: left;
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
}
.itemAction a {
    height: 35px;
    width: 35px;
    background: var(--main-grey);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}
.itemAction a img 
{
    display: block;
}
span.prodPriceOld {
    font-size: 14px;
    display: block;
    color: #d81d1d;
    text-decoration: line-through;
}
span.prodCharge {
    color: #777;
    font-size: 12px;
    display: block;
}
.itemDetail .prodPrice ,
.prodContent .prodPrice
{
    display: block;
    float: none;
    font-size: 16px;
}
.custListButton img {
    filter: var(--nega-filter);
}
.custListButton:hover img
{
    filter: none;
}
.vatStatus {	
    margin-top: 1vh;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
        align-content: center;
        color: #fff;
}
.vatStatus p
{
    display: inline-block;
    margin-bottom: 0;
}
.vatScope 
{
    position: relative;
    width: 20px;
    margin-left: 20px;
    height: 20px;
}
input#vatInclude {
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
    opacity: 0;
}
span.main-bg.vatCustom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}
span.main-bg.vatCustom::before {
    content: "\f00c";
    font-family: fontawesome;
    position: absolute;
    top: -2px;
    right: 2px;
    color: #fff;
    display: none;
}
input#vatInclude:checked + span.vatCustom.main-bg,
input:checked + span.vatCustom.main-bg 
{
    background:var(--main-green);
}
input#vatInclude:checked + span.vatCustom.main-bg::before,
input:checked + span.vatCustom.main-bg::before
{
    display: block;
}
.orderTotal {
    background: #fff;
    border-radius: 15px;
    padding: 10px 15px;
    margin-top: 1vh;
}
.orderTotal p {
    margin-bottom: 0;
    color: var(--main-grey);
}
.orderTotal p.totalNew {
    font-size: 20px;
}
.orderTotal p span.orderPrice
{
    color: #d81d1d;
    font-weight: 600;}

.orderTotal p.totalOld span.orderPrice
{
    font-weight: 400;
    text-decoration: line-through;
}
.orderConfirm span 
{
    color: #fff;
    font-style: italic;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.custBrow, .orderConfirm {
    margin-top: 2vh;
}
.nameTable {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    font-size: 14px;
    color: var(--main-grey);
    margin-bottom: 2vh;
}
.tableHead {
    background: var(--main-grey);
    color: #fff;
    border: 2px solid #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nameTable .tableLeft, .nameTable .tableRight {
    width: 49%;
    display: inline-block;
    padding: 7px 0 7px 20px;
    word-break: break-word;
    vertical-align: top;
}
.nameTable .tableHead .tableRight 
{
    border-left: 2px solid;
    padding: 10px 20px;
}
.tableBody.cusScroll {
    height: 400px;
    overflow-y: scroll;
}
.checkTop 
{
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.exchange button 
{
    padding: 0;
    height: 40px;
    border-radius: 20px;
}
.exchange img {
    width: 30px;
    display: block;
    margin: auto;
}
.exchange button:hover img,
.exchange button:focus img
{
    filter: var(--white-filter);
}
#exchangeAdd
{
    text-align: left;
}
#exchangeAdd label.excLabel {
    font-size: 16px;
    margin-right: 10px;
}
#exchangeAdd .form-group span {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}
span.memberLevel {
    display: inline-block;
    padding-left: 40px;
    background: url(../images/medal.svg);
    background-size: contain !important;
    background-repeat: no-repeat !important ;
}
.memberLevel.vv 
{
    background: url(../images/medal-gold.svg);
}
.memberLevel.s
{
    background: url(../images/medal-bronze.svg);
}
.memberLevel.n 
{
    background: url(../images/medal-silver.svg);
}
/* =======================================================CHECKOUT */
.checkOut,.prodDetail,.custInfo,.staffAdd {
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    margin-top: 3vh;
    text-align: center;
}
.checkOut p 
{
    margin-bottom: 0;
    color: #db1212;
    font-size: 20px;
}
.checkOutTotal {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.checkOutTotal h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--main-grey);
}
.checkOutLeft p {
    font-weight: 700;
}
span.checkouttext{
    font-size: 13px;
    color: #777;
    font-style: italic;
    display: block;
    margin-top: 10px;
}

.checkOutLeft h4 
{
    font-size: 16px;
    color: var(--main-grey);
    font-weight: 600;
}
.methodGrid a.methodItem {
    width: calc(33.33% - 20px);
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.methodGrid {
    clear: both;
    width: calc(100% + 20px);
    float: left;
    margin-left: -10px;
    margin-right: -10px;
}
#codeQR img {
    border: 1px solid;
}
#codeQR span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
}
/* ===============================================ORDER LIST */
.product-item .item-bot ul.order-product-list {
    height: auto;
    overflow: hidden;
}
ul#listNav.nav-tabs {
    border-bottom: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#listNav .nav-item:first-child {
    padding-right: 5px;
}
#listNav .nav-item:last-child {
    padding-left: 5px;
}
#listNav .nav-item a {
    display: block;
    text-align: center;
    height: 40px;
    text-transform: uppercase;
    line-height: 40px;
}
#listNav .nav-item:first-child a
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#listNav .nav-item:last-child a
{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#listNav .nav-item a.main-bg.active {
    background-image: -o-linear-gradient(45deg, var(--main-blue),var(--main-green));
    background-image: linear-gradient(45deg, var(--main-blue),var(--main-green));
    color: #fff;
}
.product-item .item-bot ul.order-product-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}
.changeOrder {
    width: 40px;
    overflow: hidden;
}
.changeOrder button.navOrder {
    width: 30px;
    height: 30px;
    margin: 2px 0;
    font-size: 0;
    border-radius: 50%;
    border: none;
    background: var(--main-grey);
    font-family: fontawesome;
}
button.navOrder:before 
{
    font-size: 18px;
    content: "\f107";
    color: #fff;
}
button.navOrder.inOrder::before
{
    content: "\f106";
}
button.navOrder.deOrder
{
    top: 27px;
}
span.item-date,span.item-time 
{
    font-size: 14px;
    font-weight: 600;
    color: #db1212;
}
a.absLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.product-item .item-detail {
    height: auto;
    width: 100%;
    
    margin-left: 10px;
}
.product-item img.item-detail-thumb {
    height: 105px;
}
#listContent ul.order-content {
    /* height: 500px; */
    max-height: 75vh;
}
a.order-edit {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: var(--main-grey);
    font-weight: 600;
}
/* ==============================================PRODUCT DETAIL */
.prodDetail 
{
    text-align: left;
    padding-bottom: 40px;
    position: relative;
}
.prodGen {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.prodGen .item-status
{
    width: 30px;
    float: left;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.prodGen .item-status span
{
    width: 20px;
    height: 20px;
}
.prodGen img.item-detail-thumb {
    height: 100px;
    margin-right: 5%;
}
.prodGen .item-detail-info
{
    width: calc(65% - 30px);
}
.prodDetail .prodInfo {
    height: 370px;
    clear: both;
    overflow-y: scroll;
    font-size: 14px;
    color: #777;
}
.prodInfo .infoGroup {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
.prodInfo .infoGroup span.itemlabel
{
    font-weight: 600;
    display: inline-block;
    margin-right: 15px;
}
.viewed {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 12px;
    color: #777;
    font-weight: 600;
}
.viewed img {
    width: 20px;
    margin-right: 5px;
}
.prodQuan.infoGroup
{
    margin-top: 0;
}
div#viewed {
    padding: 10px;
    text-align: left;
}
div#viewed  h3,
#orderConfirm h3,
#deliConfirm h3{
    background-image: -o-linear-gradient(45deg, var(--main-blue),var(--main-green));
    background-image: linear-gradient(45deg, var(--main-blue),var(--main-green));
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}
ul.viewedList li.viewItem {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
ul.viewedList li.viewItem img.itemAva {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: inline-block;
    margin-right: 10px;
}
ul.viewedList li.viewItem span
{
    display: inline-block;
    width: 50%;
}
ul.viewedList li.viewItem span:last-child
{
    display: inline-block;
    width: 20%;
}
.popup-content.prodDetail
{
    position: fixed;
    margin-top: 0;
    padding: 10px;
}
#orderConfirm .prodDetail .prodInfo {
    height: 245px;
}
#deliConfirm .prodDetail .prodInfo{
    height: 190px;
}
.popup-image {
    position: fixed;
    z-index: 99;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    max-width: 90vw;
    display: none;
}
/* ============================================================STAFF */
.staff-top {
    margin-top: 3vh;
}
.addStaff a {
    display: block;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 7px;
}
.staffList {
    background: #fff;
    border-radius: 30px;
    margin-top: 3vh;
    width: 100%;
    float: left;
    height: 420px;
    overflow-y: scroll;
}
li.staffItem {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    float: left;
}
li.staffItem:last-child {
    border-bottom: none;
}
li.staffItem .staffImg {
    width: 60px;
    float: left;
    background: var(--main-grey);
    padding: 15px;
    border-radius: 50%;
}
li.staffItem .staffInfo
{
    width: 55%;
    float: left;
    margin-left: 5%;
}
li.staffItem .staffIcon {
    width: 10%;
    float: right;
    margin-left: 1%;
}
.staffIcon > div {
    background: var(--main-grey);
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
    border-radius: 50%;
    padding: 7px;
}
.staffIcon > div.iconRole 
{
    margin-bottom: 0;
}
.staffIcon img {
    display: block;
}
h5.staffName {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-grey);
    margin-bottom: 0;
}
p.staffPhone {
    font-size: 14px;
    color: #777;
}
.staffAdd .addImage {
    display: block;
    background: var(--main-grey);
    width: 80px;
    margin: auto;
    padding: 15px;
    border-radius: 50%;
    height: 80px;
}

.custInfo
{
    height: 70vh;
    margin-top: 10vh;
}

.msg404 {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    top: 50%;
    color: #fff;
    transform: translateY(-50%);
    font-size: 28px;
    padding: 0 20px;
}
.msg404 h1 {
    font-size: 100px;
    font-weight: 600;
}
a.backtohome {
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-blue);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}
.form-group.changeOrderSubmit
{
    margin-bottom: 0;
}
.form-group.changeOrderSubmit button {
    padding: 0 25px;
}
.bankItem {
    margin-bottom: 10px;
}
img.bankImg {
    height: 80px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 7px;
    transition: 250ms;
}
span.bankName {
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 20px;
    word-break: break-all;
}
.bankItem:hover img.bankImg,
.bankItem:focus img.bankImg
{
    border-color: var(--main-blue);
}

.checkMenu span.main-bg.vatCustom {
    background-color: var(--main-grey);
    left: 0;
}
