<div class="page-content" id="prodDetail">
    <div class="container">
        <div class="prodDetail">
            <div class="prodGen">

                <app-status-point [state]="orderDetail.State">

                </app-status-point>

                <img src="{{orderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}" alt="" class="item-detail-thumb">
                <div class="item-detail-info">
                    <h5 class="item-code">{{orderDetail.ProductName}}</h5>
                    <span class="prodPrice">{{orderDetail.ModifiedPrice| myCurrPipe}}</span>

                    <span class="prodCharge">Phụ phí: {{orderDetail.AdditionalFee| myCurrPipe}}
                    </span>
                    <span class="prodCharge">Giảm giá:
                        {{getDetailDiscount(orderDetail)| myCurrPipe}}</span>
                    <span class="prodCharge">Số lượng:
                        {{orderDetail.Quantity}}</span>
                </div>
            </div>
            <div class="prodInfo cusScroll">
                <div class="prodQuan infoGroup">
                    <span class="itemlabel">Trạng thái:</span>
                    <span class="itemVal">{{state}}</span>
                </div>
                <div class="prodName infoGroup" *ngIf="CurrentUser.Role == 'Admin'  || CurrentUser.Role == 'Account'">
                    <span class="itemlabel">Tên KH</span>
                    <span class="itemVal">{{order.CustomerInfo.Name}}</span>
                </div>
                <div class="prodName infoGroup" *ngIf="CurrentUser.Role == 'Admin'  || CurrentUser.Role == 'Account'">
                    <span class="itemlabel">SDT KH</span>
                    <span class="itemVal">{{order.CustomerInfo.PhoneNumber}}</span>
                </div>
                <div class="prodName infoGroup" *ngIf="CurrentUser.Role != 'Florist'">
                    <span class="itemlabel">Tên người nhận:</span>
                    <span class="itemVal">{{orderDetail.DeliveryInfo.FullName}}</span>
                </div>
                <div class="prodAddr infoGroup" *ngIf="CurrentUser.Role != 'Florist'">
                    <span class="itemlabel">SDT người nhận:</span>
                    <span class="itemVal">{{orderDetail.DeliveryInfo.PhoneNumber}}</span>
                </div>
                <div class="prodAddr infoGroup" *ngIf="CurrentUser.Role != 'Florist'">
                    <span class="itemlabel">Địa chỉ giao:</span>
                    <span class="itemVal">{{orderDetail.DeliveryInfo.Address}}</span>
                </div>
                <div class="prodTime infoGroup">
                    <span class="itemlabel">Thời gian giao:</span>
                    <span class="itemVal">{{orderDetail.DeliveryInfo.DateTime | myDatePipe: 'HH:mm dd/MM/yyyy'}}</span>
                </div>
                <div class="prodMakingTime infoGroup" *ngIf="CurrentUser.Role != 'Shipper'">
                    <span class="itemlabel">Yêu cầu xong trước:</span>
                    <span class="itemVal">{{orderDetail.MakingRequestTime | myDatePipe: 'HH:mm  dd/MM/yyyy'}}</span>
                </div>
                <div *ngIf="orderDetail.Description != ''" class="prodDesc infoGroup">
                    <span class="itemlabel">Mô tả KH:</span>
                    <span class="itemVal">{{orderDetail.Description}}</span>
                </div>
                <div class="prodDesc infoGroup" *ngIf="orderDetail.MakingNote != ''">
                    <span class="itemlabel">Ghi chú thực hiện:</span>
                    <span class="itemVal">{{orderDetail.MakingNote}}</span>
                </div>
                <div class="prodDesc infoGroup" *ngIf="orderDetail.ShippingNote != ''">
                    <span class="itemlabel">Ghi chú giao hàng:</span>
                    <span class="itemVal">{{orderDetail.ShippingNote}}</span>
                </div>
            </div>
            <div style="right:150px;" *ngIf="CurrentUser.Role == 'Admin' || CurrentUser.Role == 'Account' "
                class="viewed" (click)="openViewed()"><img src="../../../assets/images/eye.svg" alt=""
                    class="main-filter">Đã xem
            </div>

            <div *ngIf="CurrentUser.Role == 'Admin' || CurrentUser.Role == 'Account' " class="viewed"
                (click)="openNoteImages()"><img src="../../../assets/images/eye.svg" alt="" class="main-filter">Ảnh ghi
                chú
            </div>
        </div>
    </div>
</div>
<div class="popup-content" id="viewed">
    <h3 class="main-bg">Những người đã xem</h3>
    <ul class="viewedList">
        <li class="viewItem-three-column" *ngFor="let user of orderDetail.SeenUsers">
            <img src="{{user.Avt | ImgPipe : 'UserAvt'}}" alt="" class="itemAva">
            <span class="itemName">{{user.FullName}}</span>
            <span class="itemRole">{{user.Role}}</span>
        </li>
    </ul>
</div>

<div id="view-product" class="popup-content view-img-popup-content" style="z-index: 1000;">
    <angular-image-viewer [src]="noteImgs" [config]="viewProdOptions">
    </angular-image-viewer>

</div>