<div class="page-content" id="confirm">
    <div class="container">
        <div class="row custBrow" style="margin-bottom: 1vh;">
            <div class="col-10 custList ">
                <a routerLink="/staff/select-customer" class="main-bg custListButton"><img
                        src="../../../../assets/images/cust.png" alt="">
                    <marquee behavior="scroll" direction="left">{{order.CustomerInfo.Name}}
                        (-{{order.CustomerInfo.DiscountPercent}}%)</marquee>
                </a>
            </div>
            <div class="col-2 prodAdd text-right pl-0">
                <a (click)="addNewOrderDetail()" class="main-bg"><img src="../../../../assets/images/add.svg" alt=""
                        class="main-filter"></a>
            </div>
        </div>

        <div class="vatStatus">
            <p>Áp dụng khuyến mãi thành viên</p>
            <div class="vatScope">
                <input type="checkbox" id="IsMemberDiscountApply" class="custom-checkbox" name="IsMemberDiscountApply"
                    (change)="onMemberDiscountChange()" [(ngModel)]="order.IsMemberDiscountApply" value="1"><span
                    class="main-bg vatCustom"></span>
            </div>
        </div>

        <label class="title-field">Mã đơn </label>
        <div class="form-group orderInfo borderless-field">
            <input type="text" name="OrderId" id="OrderId" [(ngModel)]="order.OrderId" [readonly]="isEdittingOrder"
                class="orderField small-height" placeholder="Mã đơn...">
        </div>

        <a href="javascript:void(0)" style="margin-bottom:1vh;" onclick="openCustMenu()" type="button"
            class="btn main-btn w-100">Áp dụng
            khuyến mãi</a>

        <div class="row col-xs-12" style="height: 62px;padding-left:15px;padding-right:15px;">
            <div class="addInfo" style="width:50%;padding-right: 5px;">
                <label class="title-field">Giảm giá phần trăm</label>
                <div style="margin-bottom:1vh;" class="form-group orderInfo borderless-field">
                    <input type="number" name="PercentDiscount" id="PercentDiscount"
                        (input)="onDiscountChanged($event.target.value)" [(ngModel)]="order.PercentDiscount"
                        class="orderField small-height" placeholder="%">
                </div>
            </div>
            <div class="addInfo" style="width:50%;padding-left: 5px;">

                <label class="title-field">Giả giá tiền</label>
                <div class="form-group orderInfo borderless-field">
                    <input type="tel" name="AmountDiscount" id="AmountDiscount" [(ngModel)]="order.AmountDiscount"
                        class="orderField small-height" placeholder="0"
                        (input)="onAmountDiscountChanged($event.target.value)" (focus)="onAmountDiscountFocus()">
                </div>
            </div>
        </div>

        <ul class=" orderDetail cusScroll">
            <li *ngFor="let orderDetail of order.OrderDetails" class="orderDetailItem">
                <div class="itemNumb"><span>{{orderDetail.Index + 1}}</span></div>
                <div class="itemDetail">
                    <img src="{{orderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}" alt=""
                        class="item-detail-thumb">
                    <div class="item-detail-info">
                        <h5 class="item-code">{{orderDetail.ProductName}}</h5>
                        <span class="prodPrice">{{orderDetail.ModifiedPrice | myCurrPipe}}
                        </span>
                        <span class="prodCharge">Số lượng:
                            {{orderDetail.Quantity}} </span>
                        <span class="prodCharge">Phụ phí:
                            {{orderDetail.AdditionalFee | myCurrPipe}} </span>
                        <span class="prodCharge">Giảm giá:
                            {{getDetailDiscount(orderDetail) | myCurrPipe}}</span>
                    </div>
                </div>

                <div class="itemAction">

                    <a (click)="deleteOrderDetail(orderDetail.Index)"><img src="../../../../assets/images/delete.svg"
                            alt="" class="white-filter"></a>

                    <a (click)="editOrderDetail(orderDetail.Index)"><img src="../../../../assets/images/edit.svg" alt=""
                            class="white-filter"></a>
                </div>
            </li>
        </ul>

        <div class="vatStatus">
            <p>Bao gồm VAT</p>
            <div class="vatScope">
                <input type="checkbox" id="VATIncluded" class="custom-checkbox" name="VATIncluded"
                    (change)="onVATIncludedChange()" [(ngModel)]="order.VATIncluded" value="1"><span
                    class="main-bg vatCustom"></span>
            </div>
        </div>

        <div class="orderTotal">
            <p class="totalOld">Còn lại: <span class="orderPrice">{{AcctualBalance| myCurrPipe}}
                </span>
            </p>
            <p class="totalNew">Thành tiền: <span class="orderPrice">{{order.TotalAmount | myCurrPipe}}
                </span>
            </p>
            <p class="totalExc">Đổi điểm: <span class="orderPrice">{{order.CustomerInfo.ScoreUsed}}</span></p>
        </div>

        <a href="javascript:void(0)" style="margin-top:2vh;" type="button" (click)="addPurchase()"
            class="btn main-btn w-100">
            Thanh toán</a>

        <a href="javascript:void(0)" style="margin-top:2vh;" type="button" (click)="completingOrder()"
            class="btn main-btn w-100">
            Kết thúc đơn</a>
        <div class="row orderConfirm text-center">
            <div class="col-4 exchange">
                <button class="btn main-bg w-100" (click)="scoreExchange()"><img
                        src="../../../../assets/images/money.svg" alt="Đổi điểm" class="main-filter"></button>
            </div>
            <div class="col-8 pl-0">
                <a href="javascript:void(0)" (click)="placeOrder(false)" type="submit"
                    class="btn main-btn w-100">Lưu</a>
            </div>
        </div>
    </div>
</div>
<div id="exchangeAdd" class="popup-content">
    <form action="" class="">
        <div class="form-group">
            <label for="" class="excLabel">Thành viên: </label>
            <span class="memberLevel v">{{memberShipTitle}}</span>
        </div>
        <div class="form-group">
            <label for="" class="excLabel">Điểm tích lũy: </label>
            <span class="">{{order.CustomerInfo.AvailableScore}}</span>
        </div>
        <div class="form-group">
            <input type="number" name="" id="exchange-val" class="mainForm" placeholder="Số điểm muốn đổi...">
        </div>
        <div class="row">
            <div class="col-8 mx-auto text-center">
                <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm">Đổi điểm</button>
            </div>
        </div>
    </form>
</div>
<div class="actionMenu2" id="recentInfo">
    <ul>
        <li *ngFor="let promotion of promotions; let i = index" (click)="selectPromotion(i)" [attr.data-index]="i"
            style="height: 69px;text-align: left;">
            <p class="recentInfo-name">{{promotion.Name}}</p>
            <span style="width: 25%;" class="recentInfo-phone">{{getPromotionAmount(promotion)}}</span>
            <span style="width: 75%;" class="recentInfo-date">{{promotion.StartTime | myDatePipe}}-{{promotion.EndTime |
                myDatePipe}}</span>
        </li>
    </ul>
</div>
<div class="popup-content" id="purchase-dialog">
    <div class="container">
        <div class="checkOut" style="margin-top: 0px;padding: 0px">
            <div class="checkOutTotal">
                <h3>Tổng</h3>
                <p>{{order.TotalAmount | myCurrPipe}}</p>
            </div>
            <div class="checkOutLeft mb-2">
                <h4>Số tiền còn lại</h4>
                <p>{{totalBalance | myCurrPipe}}</p>
            </div>
            <div class="form-group">
                <label style="width: 100%;text-align: left;margin-bottom: 0px;" for="currentPayAmount">Số tiền thanh
                    toán</label>
                <input type="tel" name="currentPayAmount" id="currentPayAmount"
                    (input)="onPayChanged($event.target.value)" (focus)="onPayFocus()" [(ngModel)]="currentPayAmount"
                    class="mainForm">
            </div>
            <div class="form-group">
                <label style="width: 100%;text-align: left;margin-bottom: 0px;" for="Note">Ghi Chú</label>
                <input type="tel" name="purchaseNote" id="purchaseNote" [(ngModel)]="purchaseNote" class="mainForm">
            </div>
            <div class=" form-group">
                <label style="width: 100%;text-align: left;margin-bottom: 0px;" for="currentPurStatus">Tình trạng thanh
                    toán</label>
                <select class="mainForm" id="currentPurStatus" name="currentPurStatus" [(ngModel)]="currentPurStatus">
                    <option selected>Chọn...</option>
                    <option [ngValue]="'Waiting'">Đang đợi</option>
                    <option [ngValue]="'Completed'">Hoàn tất</option>
                    <option [ngValue]="'Canceled'">Đã Huỷ</option>
                </select>
            </div>
            <div class="form-group methodGrid mb-0">
                <a href="javascript:void(0)" (click)="selectPurType(purchaseType.Momo)" class="methodItem"
                    [ngClass]="currentPurType==='Momo' ? ' img-purchase-selected' : '' "><img
                        src="../../../../assets/images/momo.jpg" alt="" /></a>
                <a href="javascript:void(0)" (click)="selectPurType(purchaseType.Banking)"
                    [ngClass]="currentPurType==='Banking' ? ' img-purchase-selected' :''" class="methodItem"><img
                        src="../../../../assets/images/banking.jpg" alt="" /></a>
                <a href="javascript:void(0)" (click)="selectPurType(purchaseType.Cash)"
                    [ngClass]="currentPurType==='Cash' ? ' img-purchase-selected' :''" class="methodItem"><img
                        src="../../../../assets/images/cash.png" alt="" /></a>
            </div>
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <button type="button" (click)="purchaseConfirm()" class="btn main-btn w-100">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="codeQR" class="popup-content">
    <span>Quét mã QR để thanh toán </span>
    <div>
        <qr-code [value]="qrContent" [size]="290"></qr-code>
    </div>
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <button type="button" id="submit-btn" onClick="qrDone()" class="btn main-btn w-100 mt-3">Xong</button>
        </div>
    </div>
</div>