<div class="contentContent container-fluid cusScroll">
    <!-- Start List Sale Item Component -->
    <div class="row">
        <div class="col-9">
            <div class="leftDetail">
                <div class="infoCard">
                    <h3 class="infoTitle">Đơn hàng đã mua</h3>
                    <div class="form-group w-50 float-right listHeader optionSearch">
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId"
                            placeholder="Tìm kiếm...">
                        <button type="submit" class="btn btn-info position-absolute "><i
                                class="fa fa-search"></i></button>
                    </div>
                    <table *ngFor="let order of orders" class="table table-bordered">
                        <tbody>
                            <tr class=" table-info">
                                <th>#{{order.OrderId}}</th>
                                <th>Ngày tạo: {{order.CreatedDate | date: 'dd/MM/yyyy'}}</th>
                                <th>Phần chưa thanh toán:
                                    {{order.TotalAmount - order.TotalPaidAmount | currency:'VND':'symbol-narrow':'':'vi-VN' }}
                                </th>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <h4 class="orderTitle">Thông tin đơn hàng</h4>
                                    <div class="orderDetail">
                                        <ul>
                                            <li><label for="">Thành tiền:
                                                </label><span>{{order.TotalAmount| currency:'VND':'symbol-narrow':'':'vi-VN' }}</span>
                                            </li>
                                            <li><label for="">Số tiền đã thanh toán:
                                                </label><span>{{order.TotalPaidAmount| currency:'VND':'symbol-narrow':'':'vi-VN' }}</span>
                                            </li>
                                            <li><label for="">Số điểm sử dụng:
                                                </label><span>{{order.CustomerInfo.ScoreUsed}}</span>
                                            </li>
                                            <li><label for="">Số điểm được cộng:
                                                </label><span>{{order.CustomerInfo.GainedScore}}</span></li>

                                            <li *ngIf="!order.VATIncluded"><span>Không bao gồm VAT</span>
                                            </li>
                                            <li *ngIf="order.VATIncluded"><label for=""></label><span>Đã bao gồm
                                                    <main>VAT</main></span>
                                            </li>
                                        </ul>
                                        <a href="javascript:void(0)"
                                            class="btn btn-outline-secondary openOrderProducts">Thông tin mặt hàng
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                        <div class="productList">
                                            <div class="productItem" *ngFor="let orderDetail of order.OrderDetails">
                                                <div class="itemTop">
                                                    <span
                                                        class="orderNumb">{{order.OrderId}}.{{orderDetail.Index +1}}</span>
                                                    |
                                                    <span class="itemName">{{orderDetail.ProductName}}</span>
                                                </div>
                                                <div class="itemBot">
                                                    <img [src]="orderDetail.ProductImageUrl" alt="" class="itemImg">
                                                    <div class="itemBotInfo">
                                                        <label for="">Giá gốc: </label>
                                                        <span
                                                            class="left-margin-10">{{orderDetail.OriginalPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span><br />
                                                        <label for="">Giá mua: </label>
                                                        <span
                                                            class="left-margin-10">{{orderDetail.ModifiedPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span><br />
                                                        <label for="">Phụ phí: </label>
                                                        <span
                                                            class="left-margin-10">{{orderDetail.AdditionalFee| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span><br />
                                                        <label for="">Tình trạng: </label>
                                                        <span
                                                            class="left-margin-10">{{getState(orderDetail.State)}}</span>
                                                        <br />

                                                        <a href="#" class="btn btn-outline-info btn-small">Chi tiết <i
                                                                class="fa fa-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="rightDetail sidebar">
                <h4 class="sidebarTitle">Quản lý khách hàng</h4>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customer-detail">Thông tin chung</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/customer-orders">Danh sách đơn hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customer-receivers">Thông tin nhận hàng đã lưu</a>
                    </li>
                </ul>
            </div>
            <div class="w-100 ">
                <a type="button" class="btn btn-outline-info" routerLink="/customer-edit"><i class="fa fa-pencil"></i>
                    Sửa thông tin</a>
            </div>

            <div class="w-100 ">
                <a type="button" class="btn btn-outline-danger" href="#" style="margin-top:10px;"><i
                        class="fa fa-trash"></i>
                    Xóa Khách hàng</a>
            </div>
        </div>
    </div>
    <!-- End List Sale Item Component -->
</div>