<div class="page-content" id="arrange">
    <div class="container">
        <ul class="nav nav-tabs row" id="listNav" role="tablist">
            <li class="nav-item col-6">
                <a class="active main-bg" id="nav1" data-toggle="tab" href="#camhoa" role="tab" aria-controls="camhoa"
                    aria-selected="true">Chờ giao</a>
            </li>
            <li class="nav-item col-6">
                <a class="main-bg" id="nav2" data-toggle="tab" href="#giaohoa" role="tab" aria-controls="giaohoa"
                    aria-selected="false">Đang giao</a>
            </li>
        </ul>
        <div class="tab-content order-list-bot" id="listContent">
            <div class="tab-pane fade show active" id="camhoa" role="tabpanel" aria-labelledby="nav1">
                <ul class="order-content cusScroll">
                    <div class="order-content-item product-item"
                        *ngFor="let detail of waitingOrderDetails ; let i = index">
                        <div class="item-top">
                            <span class="item-code">{{detail.OrderId}}_{{detail.Index +1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{detail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{detail.DeliveryInfo.FullName}}-{{detail.DeliveryInfo.PhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="detail.State" [id]="detail.OrderDetailId" [index]="i +1">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="item-detail" (click)="getMenu(detail)">
                                        <img src="{{detail.ProductImageUrl |  ImgPipe : 'ProductImg' }}" alt=""
                                            class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span class="prodPriceOld">{{detail.OriginalPrice| myCurrPipe}}</span>
                                            <span class="prodCharge">{{detail.AdditionalFee| myCurrPipe}}</span>
                                            <span class="prodPrice">{{detail.ModifiedPrice| myCurrPipe}}</span>
                                            <span class="item-address">{{detail.DeliveryInfo.Address}}</span>
                                            <span class="item-time">{{detail.DeliveryInfo.DateTime | myTimePipe}}</span>
                                            <span class="item-date">{{detail.DeliveryInfo.DateTime | myDatePipe}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>

            </div>
            <div class="tab-pane fade" id="giaohoa" role="tabpanel" aria-labelledby="nav2">
                <ul class="order-content cusScroll">
                    <div class="order-content-item product-item"
                        [ngClass]="detail.State === 'OnTheWay' ? 'selected-order-detail' : ''"
                        *ngFor="let detail of shippingOrderDetails; let i = index">
                        <div class="item-top">
                            <span class="item-code">{{detail.OrderId}}_{{detail.Index +1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{detail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{detail.DeliveryInfo.FullName}}-{{detail.DeliveryInfo.PhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="detail.State" [id]="detail.OrderDetailId" [index]="i+1">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="item-detail" (click)="getMenu(detail)">
                                        <img src="{{detail.ProductImageUrl |  ImgPipe : 'ProductImg' }}" alt=""
                                            class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span class="prodPriceOld">{{detail.OriginalPrice| myCurrPipe}}</span>
                                            <span class="prodCharge">{{detail.AdditionalFee| myCurrPipe}}</span>
                                            <span class="prodPrice">{{detail.ModifiedPrice| myCurrPipe}}</span>
                                            <span class="item-address">{{detail.DeliveryInfo.Address}}</span>
                                            <span class="item-time">{{detail.DeliveryInfo.DateTime | myTimePipe}}</span>
                                            <span class="item-date">{{detail.DeliveryInfo.DateTime | myDatePipe}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="customer-support">
    <img src="{{CurrentUser.Avt |  ImgPipe : 'UserAvt'}}" alt="" class="customer-avatar">
    <p class="customer-name">{{CurrentUser.FullName}}</p>
    <a class="customer-phone" href="tel:0000">{{CurrentUser.PhoneNumber}}</a>
    <p class="customer-position">{{CurrentUser.Role}}</p>
    <p class="customer-position" id="logoutBtn" (click)="logout()">Đăng xuất</p>
</div>