<div class="page-content" id="orderAdd">
    <div class="container">
        <form #form="ngForm" (submit)="submitOrderDetail(form)" autocomplete="on" class="addOrderForm">
            <div class="form-group prodInfo">
                <div class="prodImg">
                    <img src="{{globalOrderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}" alt="">
                    <img (click)="clearProductImg()" src="../../../../assets/images/delete_white.svg" alt=""
                        class="close-img">
                </div>
                <div class="prodContent">
                    <h5 class="prodCode" (click)="productNameChangeRequest()">{{globalOrderDetail.ProductName}}</h5>
                    <span (click)="insertModifiedValue()"
                        class="prodPrice">{{globalOrderDetail.ModifiedPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                    <div class="prodQuantity"><input type="number" readonly [(ngModel)]="globalOrderDetail.Quantity"
                            name="Quantity" id="Quantity" step="1" min="1">
                    </div>
                </div>
                <div class="prodBrowser" (click)="searchProduct()">
                    <i class="fa fa-search main-bg"></i>
                </div>
            </div>
            <div class="form-group addInfo">
                <a class="btn main-btn" routerLink="/staff/select-receiver">Thông tin người nhận</a>
            </div>
            <label class="title-field">Phụ phí</label>
            <div class="form-group orderInfo">
                <input type="text" name="AdditionalFee" id="AdditionalFee" class="orderField"
                    [(ngModel)]="globalOrderDetail.AdditionalFee" (input)="onAddFeeChanged($event.target.value)" (focus)="onAddFeeFocus()" placeholder="Phụ phí (k)...">
            </div>

            <a href="javascript:void(0)" onclick="openCustMenu()" style="margin-bottom:1vh;font-size: 16px;"
                type="button" class="btn main-btn w-100">Áp dụng
                khuyến mãi</a>
            <label class="title-field">Giảm giá phần trăm </label>
            <div class="form-group orderInfo">
                <input type="number" name="PercentDiscount" id="PercentDiscount" class="orderField"
                    [(ngModel)]="globalOrderDetail.PercentDiscount" placeholder="%">
            </div>
            <label class="title-field">Giảm giá tiền</label>
            <div class="form-group orderInfo">
                <input type="tel" name="AmountDiscount" id="AmountDiscount" class="orderField"
                    [(ngModel)]="globalOrderDetail.AmountDiscount" placeholder="0" (input)="onAmountDiscountChanged($event.target.value)" (focus)="onAcmountDiscountFocus()">
            </div>
            <label class="title-field">Mục đích mua hàng</label>
            <div class="form-group orderInfo">
                <input type="text" name="PurposeOf" id="PurposeOf" class="orderField"
                    [(ngModel)]="globalOrderDetail.PurposeOf" placeholder="Mục đích mua hàng...">
            </div>
            <label class="title-field">Mô tả</label>
            <div class="form-group orderDesc">
                <textarea name="Description" id="Description" class="orderField" placeholder="Bình dẹp..."
                    [(ngModel)]="globalOrderDetail.Description"></textarea>
            </div>
            <div class="row">
                <div class="col-8 mx-auto text-center">
                    <button type="submit" class="btn main-btn w-100">Xong</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="actionMenu2" id="recentInfo">
    <ul>
        <li *ngFor="let promotion of promotions; let i = index" (click)="selectPromotion(i)" [attr.data-index]="i"
            style="height: 69px;text-align: left;">
            <p class="recentInfo-name">{{promotion.Name}}</p>
            <span style="width: 25%;" class="recentInfo-phone">{{getPromotionAmount(promotion)}}</span>
            <span style="width: 75%;"
                class="recentInfo-date">{{promotion.StartTime | date: 'dd/MM/yyyy'}}-{{promotion.EndTime | date: 'dd/MM/yyyy'}}</span>
        </li>
    </ul>
</div>