<div class="page-content" id="orderList">
    <div class="container">
        <ul class="nav nav-tabs row" id="listNav" role="tablist">
            <li class="nav-item col-6">
                <a class="active main-bg" id="nav1" data-toggle="tab" href="#camhoa" role="tab" aria-controls="camhoa"
                    aria-selected="true">Cắm hoa</a>
            </li>
            <li class="nav-item col-6">
                <a class="main-bg" id="nav2" data-toggle="tab" href="#giaohoa" role="tab" aria-controls="giaohoa"
                    aria-selected="false">Giao hoa</a>
            </li>
        </ul>
        <div class="tab-content order-list-bot" id="listContent">
            <div class="tab-pane fade show active" id="camhoa" role="tabpanel" aria-labelledby="nav1">
                <ul class="order-content cusScroll">
                    <div *ngFor="let makDetail of makingODs; let i = index"
                        [ngClass]="makDetail.IsSelect ? 'selected-order-detail': ''"
                        class="order-content-item product-item">
                        <div class="item-top">
                            <span
                                class="item-code">{{makDetail.OrderDetail.OrderId}}_{{makDetail.OrderDetail.Index+1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{makDetail.OrderDetail.ProductName}}</h4>
                                <span class="item-quantity">{{makDetail.OrderDetail.CustomerName}}</span>
                                <span class="item-quantity">{{makDetail.OrderDetail.CustomerPhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="makDetail.OrderDetail.State"
                                [id]="makDetail.OrderDetail.OrderDetailId" [index]="i+1">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="item-detail" (click)="viewMakingDetail(i)">
                                        <img src="{{makDetail.OrderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}"
                                            alt="" class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span
                                                class="prodPrice">{{makDetail.OrderDetail.ModifiedPrice| myCurrPipe}}</span>
                                            <span class="prodCharge">Phụ phí:
                                                {{makDetail.OrderDetail.AdditionalFee| myCurrPipe}}</span>
                                            <span class="prodCharge">Giảm
                                                giá: {{getDetailDiscount(makDetail.OrderDetail) | myCurrPipe}}</span>
                                            <span class="item-address">Số
                                                lượng: {{makDetail.OrderDetail.Quantity}}</span>
                                            <span
                                                class="item-time">{{makDetail.OrderDetail.MakingRequestTime | myTimePipe}}
                                            </span>
                                            <span class="item-date">
                                                {{makDetail.OrderDetail.MakingRequestTime | myDatePipe}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
                <div class="row" *ngIf="isAssigningFlorist && makingODs.length > 0">

                    <div class="col-6 mx-auto text-center">
                        <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm"
                            (click)="selectFloristDialogOpen()">Chọn
                            Florist</button>
                    </div>
                    <div class="col-6 mx-auto text-center" (click)="cancelFloristSelectMode()">
                        <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm">Huỷ</button>
                    </div>

                </div>

                <div class="row" *ngIf="!isAssigningFlorist && makingODs.length >0">
                    <div class="col-6 mx-auto text-center">
                        <button (click)="gotoSelectFloristMode()" type="button"
                            class="btn main-btn w-100 mt-3 exchange-confirm">Chọn
                            nhiều</button>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="giaohoa" role="tabpanel" aria-labelledby="nav2">
                <ul class="order-content cusScroll">
                    <div *ngFor="let shipDetail of shippingODs; let j = index" class="order-content-item product-item"
                        [ngClass]="shipDetail.IsSelect ? 'selected-order-detail': ''">
                        <div class="item-top">
                            <span
                                class="item-code">{{shipDetail.OrderDetail.OrderId}}_{{shipDetail.OrderDetail.Index+1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{shipDetail.OrderDetail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{shipDetail.OrderDetail.CustomerName}}-{{shipDetail.OrderDetail.CustomerPhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="shipDetail.OrderDetail.State"
                                [id]="shipDetail.OrderDetail.OrderDetailId" [index]="j+1">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="item-detail" (click)="viewShippingDetail(j)">
                                        <img src="{{shipDetail.OrderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}"
                                            alt="" class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span
                                                class="prodPrice">{{shipDetail.OrderDetail.ModifiedPrice| myCurrPipe}}</span>
                                            <span class="prodCharge">Phụ phí:
                                                {{shipDetail.OrderDetail.AdditionalFee| myCurrPipe}}</span>
                                            <span class="prodCharge">Giảm
                                                giá:
                                                {{getDetailDiscount(shipDetail.OrderDetail) | myCurrPipe}}</span>
                                            <span class="item-address">Số
                                                lượng: {{shipDetail.OrderDetail.Quantity}}</span>
                                            <span
                                                class="item-time">{{shipDetail.OrderDetail.DeliveryInfo.DateTime | myTimePipe}}
                                            </span>
                                            <span class="item-date">
                                                {{shipDetail.OrderDetail.DeliveryInfo.DateTime | myDatePipe}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
                <div class="row" *ngIf="isAssigningShipper && shippingODs.length > 0">

                    <div class="col-6 mx-auto text-center">
                        <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm"
                            (click)="selectShipperDialogOpen()">Chọn Shipper</button>
                    </div>
                    <div class="col-6 mx-auto text-center" (click)="cancelShipperSelectMode()">
                        <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm">Huỷ</button>
                    </div>

                </div>

                <div class="row" *ngIf="!isAssigningShipper && shippingODs.length >0">
                    <div class="col-6 mx-auto text-center">
                        <button (click)="gotoSelectShipperMode()" type="submit"
                            class="btn main-btn w-100 mt-3 exchange-confirm">Chọn nhiều</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-content florist" id="viewed">
    <h3 class="main-bg">Chọn Florist</h3>
    <ul class="viewedList">
        <li class="viewItem" *ngFor="let user of florists" id="{{user.Id}}">
            <img src="{{user.AvtUrl | ImgPipe : 'UserAvt'}}" alt="" class="itemAva">
            <span class="itemName">{{user.FullName}}</span>
        </li>
    </ul>
</div>

<div class="popup-content shipper" id="viewed">
    <h3 class="main-bg">Chọn Shipper</h3>
    <ul class="viewedList">
        <li class="viewItem-three-column" *ngFor="let user of shippers" id="{{user.Id}}">
            <img src="{{user.AvtUrl | ImgPipe : 'UserAvt'}}" alt="" class="itemAva">
            <span class="itemName">{{user.FullName}}</span>
            <span class="itemRole">{{user.IsExternalShipper ?  'Shipper ngoài' : 'Nhân viên'}}</span>
        </li>
    </ul>
</div>