<div class="page-content" id="orderList">
    <div class="container">
        <ul class="nav nav-tabs row" id="listNav" role="tablist">
            <li class="nav-item col-6">
                <a class="active main-bg" id="nav1" data-toggle="tab" href="#camhoa" role="tab" aria-controls="camhoa"
                    aria-selected="true">Cắm hoa</a>
            </li>
            <li class="nav-item col-6">
                <a class="main-bg" id="nav2" data-toggle="tab" href="#giaohoa" role="tab" aria-controls="giaohoa"
                    aria-selected="false">Giao hoa</a>
            </li>
        </ul>
        <div class="tab-content order-list-bot" id="listContent">
            <div class="tab-pane fade show active" id="camhoa" role="tabpanel" aria-labelledby="nav1">
                <ul class="order-content cusScroll" cdkDropList (cdkDropListDropped)="dropMakingList($event)">
                    <div *ngFor="let makDetail of makingOrderDetails; let i = index" cdkDrag cdkDragStartDelay="300"
                        class="order-content-item product-item">
                        <div class="item-top">
                            <span class="item-code">{{makDetail.OrderId}}_{{makDetail.Index+1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{makDetail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{makDetail.CustomerName}}-{{makDetail.CustomerPhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="makDetail.State" [id]="makDetail.OrderDetailId"
                                [index]="i+1">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder"
                                            (click)="move(makDetail.State,i,true)">tăng</button>
                                        <button class="deOrder navOrder"
                                            (click)="move(makDetail.State,i,false)">giảm</button>
                                    </div>
                                    <div class="item-detail" (click)="viewDetail(makDetail)">
                                        <img src="{{makDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}" alt="" class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span
                                                class="prodPriceOld">{{makDetail.OriginalPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodCharge">{{makDetail.AdditionalFee| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodPrice">{{makDetail.ModifiedPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span class="item-address">{{makDetail.DeliveryInfo.Address}}</span>
                                            <span
                                                class="item-time">{{makDetail.DeliveryInfo.DateTime | date: 'hh:mm a'}}
                                            </span>
                                            <span class="item-date">
                                                {{makDetail.DeliveryInfo.DateTime | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="tab-pane fade" id="giaohoa" role="tabpanel" aria-labelledby="nav2">
                <!--cdkDropList (cdkDropListDropped)="dropShippingList($event)"!-->
                <ul class="order-content cusScroll" cdkDropList (cdkDropListDropped)="dropShippingList($event)"    >
                    <div *ngFor="let shipDetail of shippingODs; let j = index"  (click)="viewDetail(j)"
                        class="order-content-item product-item"  [ngClass]="shipDetail.IsSelect ? 'selected-order-detail': ''" cdkDrag cdkDragStartDelay="300">
                        <div class="item-top">
                            <span class="item-code">{{shipDetail.ShippingOrderDetail.OrderId}}_{{shipDetail.ShippingOrderDetail.Index+1}}</span>
                            <div class="item-info">
                                <h4 class="item-name">{{shipDetail.ShippingOrderDetail.ProductName}}</h4>
                                <span
                                    class="item-quantity">{{shipDetail.ShippingOrderDetail.CustomerName}}-{{shipDetail.ShippingOrderDetail.CustomerPhoneNumber}}</span>
                            </div>
                            <app-status-point [state]="shipDetail.ShippingOrderDetail.State" [id]="shipDetail.ShippingOrderDetail.OrderDetailId"
                                [index]="j+1">

                            </app-status-point>
                        </div>
                        <div class="item-bot">
                            <ul class="order-product-list cusScroll">
                                <li class="">
                                    <div class="changeOrder">
                                        <button class="inOrder navOrder"
                                            (click)="move(shipDetail.ShippingOrderDetail.State,j,true)">tăng</button>
                                        <button class="deOrder navOrder"
                                            (click)="move(shipDetail.ShippingOrderDetail.State,j,false)">giảm</button>
                                    </div>
                                    <div class="item-detail" >
                                        <img src= "{{shipDetail.ShippingOrderDetail.ProductImageUrl |  ImgPipe : 'ProductImg'}}" alt="" class="item-detail-thumb">
                                        <div class="item-detail-info">
                                            <span
                                                class="prodPriceOld">{{shipDetail.ShippingOrderDetail.OriginalPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodCharge">{{shipDetail.ShippingOrderDetail.AdditionalFee| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span
                                                class="prodPrice">{{shipDetail.ShippingOrderDetail.ModifiedPrice| currency:'VND':'symbol-narrow':'':'vi-VN'}}</span>
                                            <span class="item-address">{{shipDetail.ShippingOrderDetail.DeliveryInfo.Address}}</span>
                                            <span
                                                class="item-time">{{shipDetail.ShippingOrderDetail.DeliveryInfo.DateTime | date: 'hh:mm a'}}</span>
                                            <span
                                                class="item-date">{{shipDetail.ShippingOrderDetail.DeliveryInfo.DateTime | date: 'dd/MM/yyyy'}}</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
                <div class="row" *ngIf="isAssigningShipper && shippingODs.length >0">

                    <div class="col-6 mx-auto text-center">
                        <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm" (click)="selectShipperDialogOpen()" >Chọn Shipper</button>
                    </div>
                    <div class="col-6 mx-auto text-center" (click)="cancelSelectMode()" >
                        <button type="submit" class="btn main-btn w-100 mt-3 exchange-confirm">Huỷ</button>
                    </div>

                </div>

                <div class="row" *ngIf="!isAssigningShipper && shippingODs.length >0">
                    <div class="col-6 mx-auto text-center">
                        <button (click)="gotoSelectMode()" type="submit" class="btn main-btn w-100 mt-3 exchange-confirm">Chọn nhiều</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-content" id="viewed">
    <h3 class="main-bg">Chọn Shipper</h3>
    <ul class="viewedList">
        <li class="viewItem" *ngFor="let user of shippers" (click)="selectShipper(user)" >
            <img src="{{user.AvtUrl | ImgPipe : 'UserAvt'}}" alt="" class="itemAva">
            <span class="itemName">{{user.FullName}}</span>
            <span class="itemRole">{{user.IsExternalShipper ?  'Shipper ngoài' : 'Nhân viên'}}</span>
        </li>
    </ul>
</div>