<div *ngIf="index >-1" [ngSwitch]="state">
    <div *ngSwitchCase="states.Added" class="item-status pi" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.Making" class="item-status o" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.Comfirming" class="item-status y" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.Completed" class="item-status g" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.Canceled" class="item-status x" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.OnTheWay" class="item-status on-the-way" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.SentBack" class="item-status send-back" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
    <div *ngSwitchCase="states.Fixing" class="item-status fixing" (click)="pointClicked()">
        <span>{{index}}</span>
    </div>
</div>
<div *ngIf="index==-1" [ngSwitch]="state">
    <div *ngSwitchCase="states.Added" class="item-status pi" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.Making" class="item-status o" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.Comfirming" class="item-status y" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.Completed" class="item-status g" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.Canceled" class="item-status x" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.OnTheWay" class="item-status on-the-way" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.SentBack" class="item-status send-back" (click)="pointClicked()">
        <span></span>
    </div>
    <div *ngSwitchCase="states.Fixing" class="item-status fixing" (click)="pointClicked()">
        <span></span>
    </div>
</div>