<div class="adminWrapper loginScreen">
    <div class="loginWrap">
        <div class="loginLeft">
            <img src="../../../assets/images/1815.jpg" alt="" class="mw-100">
        </div>
        <div class="loginRight">
            <img src="../../../assets/images/logo.svg" alt="" class="loginLogo">
            <form #form="ngForm" (submit)="login(form)" autocomplete="off">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" name="userName" autocomplete="off" [(ngModel)]="model.userName"
                        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" autocomplete="off" class="form-control" name="passcode"
                        [(ngModel)]="model.passcode" id="exampleInputPassword1">
                </div>
                <div class="form-group row">
                    <div class="col-8"><a class="form-check-label" href="forgot-pass.html">Forgot your password?</a>
                    </div>
                    <div class="col-4"><button type="submit" class="btn main-btn w-100">Login </button></div>
                </div>
            </form>
        </div>
    </div>
</div>