<div class="page-content" id="customerInfo">
    <div class="container">
        <div class="row checkTop search">
            <div class="col-12 mx-auto text-center">
                <button type="button" (click)="addPurchase()" class="btn main-btn w-100">Thêm thanh toán</button>
            </div>
        </div>
        <div class="nameTable">
            <div class="tableHead">
                <div class="tableCenter">Số tiền</div>
                <div class="tableLeft">Hình thức</div>
                <div class="tableRight">Thời gian</div>
            </div>
            <div class="tableBody cusScroll" id="customer-list">
                <div class="tableRow main-bg customer-item" *ngFor="let purchaseItem of purchaseItems"
                    (click)="selectItem(purchaseItem)">
                    <div class="tableCenter">{{purchaseItem.Amount|currency:'VND':'symbol-narrow':'':'vi-VN'}}</div>
                    <div class="tableLeft">{{purchaseItem.Method}}</div>
                    <div class="tableRight">{{purchaseItem.AddingTime | myDatePipe}}</div>
                </div>
            </div>
        </div>
        <div class="orderTotal">
            <p class="totalOld">Mã đơn: <span class="orderPrice">{{order.OrderId}}
                </span>
            </p>
            <p class="totalOld">Còn lại: <span class="orderPrice">{{totalBalance | myCurrPipe}}
                </span>
            </p>
            <p class="totalNew">Thành tiền: <span class="orderPrice">{{order.TotalAmount | myCurrPipe}}
                </span>
            </p>
        </div>
    </div>
</div>
<div class="popup-content" id="purchase-dialog">
    <div class="container">
        <div class="checkOut" style="margin-top: 0px;padding: 0px">
            <div class="checkOutTotal">
                <h3>Tổng</h3>
                <p>{{order.TotalAmount | myCurrPipe}}</p>
            </div>
            <div class="checkOutLeft mb-2">
                <h4>Số tiền còn lại</h4>
                <p>{{totalBalance | myCurrPipe}}</p>
            </div>
            <div class="form-group">
                <label style="width: 100%;text-align: left;margin-bottom: 0px;" for="currentPayAmount">Số tiền thanh
                    toán</label>
                <input type="tel" name="Amount" id="Amount" (input)="onPayChanged($event.target.value)"
                    (focus)="onPayFocus()" [(ngModel)]="currentPurchase.Amount" class="mainForm">
            </div>
            <div class="form-group">
                <label style="width: 100%;text-align: left;margin-bottom: 0px;" for="Note">Ghi Chú</label>
                <input type="tel" name="Note" id="Note" [(ngModel)]="currentPurchase.Note" class="mainForm">
            </div>
            <div class="form-group methodGrid mb-0">
                <a href="javascript:void(0)" (click)="selectPurType(purchaseType.Momo)" class="methodItem"
                    [ngClass]="currentPurchase.Method==='Momo' ? ' img-purchase-selected' : '' "><img
                        src="../../../../assets/images/momo.jpg" alt="" /></a>
                <a href="javascript:void(0)" (click)="selectPurType(purchaseType.Banking)"
                    [ngClass]="currentPurchase.Method==='Banking' ? ' img-purchase-selected' :''"
                    class="methodItem"><img src="../../../../assets/images/banking.jpg" alt="" /></a>
                <a href="javascript:void(0)" (click)="selectPurType(purchaseType.Cash)"
                    [ngClass]="currentPurchase.Method==='Cash' ? ' img-purchase-selected' :''" class="methodItem"><img
                        src="../../../../assets/images/cash.png" alt="" /></a>
            </div>
            <div class="row">
                <div class="col-12 mx-auto text-center">
                    <button type="button" (click)="purchaseConfirm()" class="btn main-btn w-100">Xác nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="codeQR" class="popup-content">
    <span>Quét mã QR để thanh toán</span>
    <div>
        <qr-code [value]="qrContent" [size]="290"></qr-code>
    </div>
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <button type="button" id="submit-btn" onClick="qrDone()" class="btn main-btn w-100 mt-3">Xong</button>
        </div>
    </div>
</div>