<div class="listWrap">
    <!-- Top of List Component -->
    <div class="listHeader">
        <div class="row listAddNew">
            <div class="col-xs-12 col-md-2">
                <button class="btn btn-outline-info d-block w-100" (click)="addUserRequest()" role="button">Thêm
                    Mới</button>
            </div>
        </div>
        <div class="row listOptions">
            <div class="col-md-2 col-xs-12  optionDelete">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="" id="checkbox" value="checkedValue"
                        (change)="checkAllChange(!isSelectAll)">
                    <button type="button" class="btn btn-outline-danger"><i class="fa fa-remove"></i> Xóa</button>
                </div>
            </div>
            <div class="col-md-6 col-xs-12  optionSearch">
                <div class="form-group">
                    <input type="text" class="form-control" name="" id="searchbox" aria-describedby="helpId"
                        placeholder="Tìm kiếm...">
                    <button type="submit" class="btn btn-info position-absolute "><i class="fa fa-search"></i></button>
                </div>

            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 5%">STT</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Điện thoại</th>
                    <th scope="col">Email đăng nhập</th>
                    <th scope="col">Quyền</th>
                    <th scope="col">Chức năng</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="user.IsSelected" name=""
                                    id="" value="checkedValue">
                                {{i +1}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="tdName"
                            onclick="showUserEdit(event)">{{user.User.FullName}}</a>
                    </td>
                    <td>{{user.User.PhoneNumber}}</td>
                    <td>{{user.User.Email}}</td>
                    <td>
                        <span class="badge badge-pill badge-success d-block p-2">{{user.Role}}</span>
                    </td>
                    <td *ngIf="user.User.IsPrinter">
                        In ấn
                    </td>
                    <td *ngIf="!user.User.IsPrinter">
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-info" (click)="selectUserToEdit(user.User)"><i
                                    class="fa fa-pencil"></i> Sửa</button>
                            <button type="button" class="btn btn-outline-danger" (click)="deleteUser(user.User.Id)"><i
                                    class="fa fa-remove"></i>
                                Xóa</button>
                            <a href="./saleItems.html" type="button" class="btn btn-outline-primary"><i
                                    class="fa fa-eye"></i> Chi tiết</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="popupContent" id="userAdd">
    <h4 class="userName">Thêm mới Nhân Viên</h4>
    <hr class="adminSeperate">
    <form #form="ngForm" (submit)="editUser(form)" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Email">Tên đăng nhập</label>
                <input [(ngModel)]="currrentEditUser.LoginName" id="LoginName" name="LoginName" required minlength="6"
                    type="text" class="form-control" placeholder="tên đăng nhập..." #LoginName="ngModel"
                    autocomplete="off">
                <div *ngIf="LoginName.invalid && (LoginName.dirty || LoginName.touched)" class="alert alert-danger">

                    <div *ngIf="LoginName.errors.required">
                        Bắt buộc
                    </div>
                    <div *ngIf="LoginName.errors.minlength">
                        Tối thiểu 6 ký tự
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="Password">Mật khẩu</label>
                <input type="password" [(ngModel)]="currrentEditUser.Password" minlength="5" name="Password"
                    class="form-control" id="Password" autocomplete="new-password" placeholder="***********"
                    #Password="ngModel">
                <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert alert-danger">

                    <div *ngIf="Password.errors.minlength">
                        Tối thiểu 5 ký tự
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="FullName">Họ và Tên</label>
                <input type="text" class="form-control" required minlength="3" #FullName="ngModel"
                    [(ngModel)]="currrentEditUser.FullName" id="FullName" name="FullName" placeholder="">
                <div *ngIf="FullName.invalid && (FullName.dirty || FullName.touched)" class="alert alert-danger">

                    <div *ngIf="FullName.errors.required">
                        Bắt buộc
                    </div>
                    <div *ngIf="FullName.errors.minlength">
                        Tối thiểu 3 ký tự
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="FullName">Email</label>
                <input type="text" class="form-control" [(ngModel)]="currrentEditUser.Email" id="Email" name="Email"
                    placeholder="">
            </div>
            <div class="form-group col-md-4">
                <label for="inputPhone">Số điện thoại</label>
                <input type="text" class="form-control" [(ngModel)]="currrentEditUser.PhoneNumber" id="PhoneNumber"
                    name="PhoneNumber" placeholder="+84" #PhoneNumber="ngModel" required minlength="7">
                <div *ngIf="PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched)"
                    class="alert alert-danger">

                    <div *ngIf="PhoneNumber.errors.required">
                        Bắt buộc
                    </div>
                    <div *ngIf="PhoneNumber.errors.minlength">
                        Tối thiểu 7 ký tự
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">

            <div class="form-group col-md-3">
                <label for="Role">Quyền</label>
                <select id="Role" name="Role" [(ngModel)]="currrentEditUser.Role" class="form-control">
                    <option selected>Choose...</option>
                    <option [ngValue]="'Florist'">Thợ cắm hoa</option>
                    <option [ngValue]="'Shipper'">Người giao hàng</option>
                    <option [ngValue]="'Account'">Chăm sóc KH</option>
                    <option [ngValue]="'Admin'">Quản trị viên</option>
                    <option [ngValue]="'User'">Khác</option>
                </select>
            </div>
            <div class="form-check  col-md-3">
                <label class="form-check-label">
                    <input type="checkbox" id="IsPrinter" class="form-check-input"
                        [(ngModel)]="currrentEditUser.IsPrinter" name="IsPrinter" value="checkedValue">
                    Cho phép in
                </label>
            </div>
        </div>
        <div class="form-group avatarChange">
            <label>Chọn ảnh đại diện</label>
            <img src="{{edittingImageUrl | ImgPipe : 'UserAvt'}}" *ngIf="edittingImageUrl"
                style="width: 100px; height: 100px;" />
            <input type="file" id="uploadedFile" class="form-control-file" accept='image/*' (change)="onChange($event)"
                name="uploadedFile" aria-describedby="fileHelpId">

        </div>
        <div class="form-action row">
            <div class="col-md-3">
                <div class="btn-group w-100">
                    <button type="submit" class="btn btn-outline-success w-100" onclick="">Thêm Mới</button>
                    <a href="javascript:void(0)" class="btn btn-outline-secondary" onclick="hideAdd()">Hủy</a>
                </div>
            </div>
        </div>
    </form>
</div>