<div class="page-content" id="staff">
    <div class="container">
        <div class="image-top">
            <img id="selected-image" [src]="edittingImageUrl" onclick="rotateImage()" alt="">
        </div>
        <div class="image-action">

            <a href="javascript:void(0)" *ngIf="IsOnTerminal && CurrentUser.Role != 'Shipper'" class="main-bg"
                (click)="openFileForShare()">Chọn hình</a>
                
            <a href="javascript:void(0)" *ngIf="IsOnTerminal && CurrentUser.Role == 'Shipper'" class="main-bg"
                (click)="openFile()">Chọn hình</a>

           <div *ngIf="!IsOnTerminal">
                <input type="file" class="img-cover file-upload-default" (change)="onChange($event)" id="resultFile"
                name="uploadedFile" #imageUpload hidden>
                <a href="javascript:void(0)" (click)="imageUpload.click()" class="main-bg">Chọn hình</a>
            </div> 

            <a href="javascript:void(0)" *ngIf="CurrentUser.Role != 'Shipper'" (click)="shareForCus()"
                class="main-bg">Share cho KH</a>

            <a href="javascript:void(0)" class="main-bg" *ngIf="CurrentUser.Role != 'Shipper'"  (click)="confirm('')">Xác nhận</a>
            <a href="javascript:void(0)" class="main-bg" *ngIf="CurrentUser.Role == 'Shipper'" (click)="shipperCofirm()">Xác nhận</a>

        </div>
    </div>