<div class="listWrap">
    <!-- Top of List Component -->
    <div class="listHeader">
        <div class="row listAddNew">
            <div class="col-xs-12 col-md-2">
                <button class="btn btn-outline-info d-block w-100" (click)="addRequest()" role="button">Thêm
                    Mới</button>
            </div>
        </div>
        <div class="row listOptions">
            <div class="col-md-2 col-xs-12  optionDelete">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="" id=""
                        (change)="checkAllChange(!isSelectAll)" value="checkedValue">
                    <button type="button" class="btn btn-outline-danger" (click)="deletecustomers()"><i
                            class="fa fa-remove"></i>
                        Xóa</button>
                </div>
            </div>
            <div class="col-md-6 col-xs-12  optionSearch">
                <div class="form-group">
                    <app-search-box (searchTextInvoke)="searchCustomer($event)" [delayTimeSpan]="1000"
                        placeholder="Nhập tên hoặc SDT">
                    </app-search-box>
                    <button type="submit" class="btn btn-info position-absolute "><i class="fa fa-search"></i></button>
                </div>

            </div>
            <div class="col-md-4 col-xs-12  text-right optionPerPage">
                <div class="form-group">
                    <label>Hiển thị </label>
                    <select class="form-control w-25 d-inline" [(ngModel)]="itemPerpage" name="itemPerpage" id="">
                        <option [ngValue]="10"> 10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="60">60</option>
                    </select>
                    <label> dòng / <strong>{{itemTotalCount}} dòng</strong></label>
                </div>
            </div>
        </div>
    </div>
    <!-- Content of List Component -->
    <div class="listContent">
        <table class="table table-bordered table-hover table-responsive-xl">
            <thead class="table-info">
                <tr>
                    <th scope="col" style="width: 10%">ID</th>
                    <th scope="col">Họ và Tên</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Sinh nhật</th>
                    <th scope="col">Xưng danh</th>
                    <th scope="col">Giá trị mua hàng</th>
                    <th scope="col">Hạng thẻ</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td scope="row">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="" id=""
                                    [(ngModel)]="customer.IsChecked" value="checkedValue">
                                {{customer.Customer.Id}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <a (click)="viewCusDetail(customer.Customer)" class="tdName">{{customer.Customer.FullName}}</a>
                    </td>
                    <td>{{customer.Customer.PhoneNumber}}</td>
                    <td *ngIf="customer.Customer.Birthday">{{customer.Customer.Birthday |  date: 'dd/MM'}}</td>
                    <td *ngIf="!customer.Customer.Birthday">--</td>
                    <td *ngIf="customer.Customer.Sex == sexes.Male">Anh</td>
                    <td *ngIf="customer.Customer.Sex == sexes.Female">Chị</td>
                    <td *ngIf="customer.Customer.Sex == sexes.Others">Khác</td>
                    <td>{{customer.Customer.MembershipInfo.AccumulatedAmount | currency:'VND':'symbol-narrow':'':'vi-VN' }}
                    </td>
                    <td>
                        {{customer.Customer.MembershipInfo.MembershipType}}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a type="button" (click)="viewCusDetail(customer.Customer)"
                                class="btn btn-outline-secondary"><i class="fa fa-eye"></i> Chi tiết</a>
                            <!-- <button type="button" class="btn btn-outline-info"><i class="fa fa-pencil"></i> Sửa</button> -->
                            <button type="button" (click)="deleteCustomer(customer.Customer)"
                                class="btn btn-outline-danger"><i class="fa fa-remove"></i>
                                Xóa</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Bottom of List Component -->
    <app-page-segment [pageCount]="pageCount" (pageChanged)="pageChanged($event)">

    </app-page-segment>
</div>
<div class="popupContent" id="customerAdd">
    <h4 class="userName">Thêm mới Khách Hàng</h4>
    <hr class="adminSeperate">
    <form #form="ngForm" (submit)="addCustomer(form)" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="FullName">Mã số</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.Id" id="Id" name="Id" #Id="ngModel"
                    required minlength="3">
                <div *ngIf="Id.invalid && (Id.dirty || Id.touched)" class="alert alert-danger">

                    <div *ngIf="Id.errors.required">
                        Bắt buộc
                    </div>
                    <div *ngIf="Id.errors.minlength">
                        Tối thiểu 3 ký tự
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="FullName">Họ và Tên</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.FullName" id="FullName"
                    name="FullName" placeholder="Nguyễn Văn A" #FullName="ngModel" required minlength="5">
                <div *ngIf="FullName.invalid && (FullName.dirty || FullName.touched)" class="alert alert-danger">

                    <div *ngIf="FullName.errors.required">
                        Bắt buộc
                    </div>
                    <div *ngIf="FullName.errors.minlength">
                        Tối thiểu 5 ký tự
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="PhoneNumber">Số điện thoại</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.PhoneNumber" id="PhoneNumber"
                    name="PhoneNumber" placeholder="0898443222" minlength="9" required #PhoneNumber="ngModel">
                <div *ngIf="PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched)"
                    class="alert alert-danger">

                    <div *ngIf="PhoneNumber.errors.required">
                        Bắt buộc
                    </div>
                    <div *ngIf="PhoneNumber.errors.minlength">
                        Tối thiểu 9 ký tự
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="selectDist">Liên hệ chính</label>
                <select class="form-control" [(ngModel)]="currentCustomer.MainContactInfo" name="MainContactInfo"
                    id="MainContactInfo">
                    <option selected>Chọn...</option>
                    <option [ngValue]="'Zalo'">Zalo</option>
                    <option [ngValue]="'Facebook'">Facebook</option>
                    <option [ngValue]="'Viber'">Viber</option>
                    <option [ngValue]="'Skype'">Skype</option>
                    <option [ngValue]="'Instagram'">Instagram</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="selectDist">Danh Xưng</label>
                <select class="form-control" [(ngModel)]="currentCustomer.Sex" name="Sex" id="Sex">
                    <option selected>Chọn...</option>
                    <option [ngValue]="'Male'">Anh</option>
                    <option [ngValue]="'Female'">Chị</option>
                    <option [ngValue]="'Others'">Khác</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label>Sinh nhật: </label>
                <input class="form-control" type="date" [ngModel]="currentCustomer.Birthday | date:'yyyy-MM-dd'"
                    (ngModelChange)="currentCustomer.Birthday = $event" id="Birthday" name="Birthday">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="Facebook">Facebook</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.ContactInfo.Facebook" id="Facebook"
                    name="Facebook" placeholder="nguyenvana">
            </div>
            <div class="form-group col-md-6">
                <label for="Zalo">Zalo</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.ContactInfo.Zalo" id="Zalo"
                    name="Zalo" placeholder="092836233">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Skype">Skype</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.ContactInfo.Skype" id="Skype"
                    name="Skype" placeholder="nguyenvana">
            </div>
            <div class="form-group col-md-4">
                <label for="Viber">Viber</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.ContactInfo.Viber" id="Viber"
                    name="Viber" placeholder="092836233">
            </div>

            <div class="form-group col-md-4">
                <label for="Viber">Instagram</label>
                <input type="text" class="form-control" [(ngModel)]="currentCustomer.ContactInfo.Instagram"
                    id="Instagram" name="Instagram" placeholder="092836233">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="selectDist">Hạng thẻ</label>
                <select class="form-control" [(ngModel)]="currentCustomer.MembershipInfo.MembershipType"
                    name="MembershipType" id="MembershipType">
                    <option selected>Chọn...</option>
                    <option [ngValue]="'NewCustomer'">Khách hàng mới</option>
                    <option [ngValue]="'Member'">Thành viên</option>
                    <option [ngValue]="'Vip'">VIP</option>
                    <option [ngValue]="'VVip'">VVIP</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="selectWard">Tổng tiền đã mua (K)</label>
                <input type="number" class="form-control" id="AccumulatedAmount" name="AccumulatedAmount"
                    [(ngModel)]="currentCustomer.MembershipInfo.AccumulatedAmount" placeholder="900000">
            </div>
            <div class="form-group col-md-4">
                <label for="selectWard">Điểm đã sử Dụng</label>
                <input type="number" class="form-control" id="UsedScoreTotal" name="UsedScoreTotal"
                    [(ngModel)]="currentCustomer.MembershipInfo.UsedScoreTotal" placeholder="0">
            </div>
        </div>
        <div class="form-action row">
            <div class="col-md-3">
                <div class="btn-group w-100">
                    <button type="submit" class="btn btn-outline-success w-100">Thêm Mới</button>
                    <a href="javascript:void(0)" class="btn btn-outline-secondary" onclick="hideAdd()">Hủy</a>
                </div>
            </div>
        </div>
    </form>
</div>